[2017-09-16 01:53] #1649 closed

[2017-09-16 01:54] #1645 closed

[2017-09-16 01:55] #1666 closed

[2017-09-16 10:15] elrayle commented on #1587
I missed note 1 in the mockup, which has likely led to much of the confusion in our conversation.

I hope you can have patience as we sort this out.  It sounds like there were extensive conversations about the behavioral changes for the index page tabs by the Hyku team.  I'm not remembering having a specific conversation about the Managed Collections tab in the working group, but it could be I did

[2017-09-16 12:55] elrayle opened #1689 "Collection Types: default participants to manage: admin, create: registered"
### Descriptive summary

Collection types should have default participants set.  The default will be admins can manage and all registered users can create.

### Expected behavior

When a new collection type is created, it will have default participants added.

[code]

### Actual behavior

No participants are set.

### Steps to reproduce the behavior

1. Login as admin
1. Create new collection type

[2017-09-16 16:57] elrayle commented on #1679
Fixed by PR #1685

[2017-09-16 16:57] #1679 closed

[2017-09-16 18:26] elrayle opened #1690 "1647"

[2017-09-16 18:27] elrayle commented on #1527
#1578 fixed by PR #1647 Fix redirects for collection/work edit save and cancel

[2017-09-17 18:50] elrayle commented on #1650
Fixed by PR #1692

[2017-09-17 18:50] #1650 closed

[2017-09-17 19:11] elrayle commented on #1540
Fixed by PR #1652

[2017-09-17 19:11] #1540 closed

[2017-09-17 19:15] elrayle commented on #1529
Fixed by #1618

[2017-09-17 19:15] #1529 closed

[2017-09-17 19:24] elrayle commented on #1543
Fixed by PR #1664

[2017-09-17 19:24] #1543 closed

[2017-09-17 19:40] elrayle commented on #1544
Verified that this are created.  No special processing was added for the Fedora ACLs.  When the access is set in the object, the ACLs are created through the normal means.

Related to PR #1664 which added permissions to the solr doc.

[2017-09-17 19:44] #1544 closed

[2017-09-17 20:51] elrayle commented on #1507
@ggeisler From previous conversations, I understand that you have a preference for showing a dialog to users when they do not have permissions to perform an action.

For this issue, that means that a user without edit access...
* will see the delete button
* if pressed, they will see a message, something like... "You do not have permissions to delete this collection.  See site admin for more infor

[2017-09-17 20:52] elrayle commented on #1508
@ggeisler From previous conversations, I understand that you have a preference for showing a dialog to users when they do not have permissions to perform an action instead of hiding the button/action.

For this issue, that means that a user without edit access...
* will see edit in the action menu
* if pressed, they will see a message, something like... "You do not have permissions to edit this co

[2017-09-17 21:11] elrayle commented on #1510
@ggeisler Since Delete is the only supported bulk action, should checkboxes be disabled for any collection where the user does not have edit access?

[2017-09-17 23:28] elrayle commented on #1636
[Hyrax::Collections::PermissionsService.create_default](https://github.com/samvera/hyrax/blob/collections-sprint/app/services/hyrax/collections/permissions_service.rb#L76-L90) add the collection type access grants to the collection when it is created.

This was added as part of PR #1540 and meets the requirements of this issue.

[2017-09-17 23:28] #1636 closed

[2017-09-18 11:56] biancachebet commented on #1625
@jcoyne I run rails generate hyrax:install and it worked well. However, I noticed my user did not have the right privileges and I used another user and it did work pretty well. Thank you!

[2017-09-18 14:01] elrayle opened #1695 "Collections: do not show `add collection to collection` action when none of the collection types support nesting"
### Descriptive summary

For Collections, do not show the `Add collection to another collection` action when none of the collection types are nestable?  To support this, the collection model needs a new class method `any_nestable?`.

### Rationale

We avoid hiding and showing buttons and links.  In the case where there aren't any collection types supporting nesting, we don't want to show the `Add

[2017-09-18 14:35] elrayle commented on #1507
@ggeisler I'm wondering if we need two dialogs for Delete when the collection has members?

* For Admin Sets (keying off `membership_required? true`) presents a message like `"You must remove all items from the collection before it can be deleted."`
* For all other collections (keying off `membership_required? false`) presents a message like `"This collection has items.  Are you sure you want to d

[2017-09-18 16:36] vantuyls commented on #1653
Can do.

[2017-09-18 20:56] billdueber commented on #1016
I wanted to run with different core names, too, and ran into the problem with the blacklight file not keeping up.

[2017-09-18 21:21] ggeisler commented on #1587
@elrayle For the admin user, your interpretation seems right to me: the All Collections tab should include all collections the admin can manage, including ones that admin might have created.

For the non-admin, yes, the Your Collections tab would show only collections that user created. The Managed Collections tab would work as you describe.

[2017-09-18 21:26] ggeisler commented on #1508
@elrayle Well, the context is relevant; I wouldn't say I always have a preference for showing a dialog.

Can you include a screenshot of what page(s) we're talking about, so I understand the context? Offhand it's not clear to me in what context a user will see collections they can't edit.

[2017-09-18 21:27] ggeisler commented on #1510
@elrayle What is the scenario where a user wouldn't be able to delete a collection that user created? I guess I'm missing something.

[2017-09-18 21:54] ggeisler commented on #1507
@elrayle I'm unsure if we really do need two different messages. If we're working with an admin set, the message provided in the mockup is still valid, I believe. The difference is that in an admin set with `membership_required? true` a work must belong to one admin set, correct? So if the user tries to remove a work from the admin set in order to empty it, and that work doesn't belong to another

[2017-09-19 12:06] elrayle commented on #1587
Great.  I'm glad we have the same interpretation.

The slight change I would propose is that for non-admin users, Managed Collections tab would include any collections where the user was assigned `:manage`, `:deposit`, or `:view` access.  And add a filter `access: Manage | Deposit | View`.

The rationale is that if a user is specifically added as a participant for a collection, then that collectio

[2017-09-19 15:15] ggeisler commented on #1587
@elrayle Sure, no objection from me.

[2017-09-19 15:26] elrayle commented on #1587
For managed tab, collections and admin sets can be identified by...

`:manage` = `edit_access` in solr - `depositor=current_user`
`:view` = `view_access` in solr - `view_access: ['public', 'registered']`
`:deposit'` = query of permission_templates where current user has :deposit permissions

There is a service method, `Hyrax::Collections::PermissionsService.can_deposit_in_collection(user:, collect

[2017-09-19 15:50] elrayle commented on #1670
Ran across this code for admin_sets.  I wonder if we can do something similar for collections.

[app/services/hyrax/admin_set_service.rb](https://github.com/samvera/hyrax/blob/collections-sprint/app/services/hyrax/admin_set_service.rb)

Although this looks like it is counting number of files for all works in the admin set instead of number of works.

[2017-09-19 15:58] elrayle commented on #1670
@ggeisler Can you confirm your expectations on the various counts that are displayed?

All/Managed/Your Collections
- for each collection, `item count = #works + #sub-collections`

Search Results
- `work count = #works`
- `collection count = #sub-collections`

For all, the counts are just one level down.  They don't include counts of children of children, etc.

NOTE: Since admin sets are listed wi

[2017-09-19 16:29] ggeisler commented on #1670
@elrayle Your description matches my expectations.

It might or might not be relevant that the [Analytics WG](https://wiki.duraspace.org/display/samvera/HAWG+-+Tuesday+September+12%2C+2017) is currently trying to define similar metrics related to aggregation; e.g., how many views and downloads a collection has when that collection contains sub-collections and works, which contain files.

[2017-09-19 17:30] elrayle opened #1697 "Collections: can_create_works should be based on admin_set depositors only"
### Descriptive summary

With the addition of collections and admin_sets sharing permissions_templates, abilities method `source_ids_for_deposit` now returns ids for collections and admin sets.  This method is used by `can_create_any_work?`, which should be defined as true if the user can deposit to any admin set.

### Rationale

As defined today, membership is required in admin_sets.  Consequentl

[2017-09-19 17:40] elrayle opened #1698 "All/Managed Collections: Filter on access: Manage | Deposit | View"
### Descriptive summary

Add filter to All/Managed Collections tabs for Dashboard -> Collections to allow users to filter by access level which includes Manage, Deposit, or View.

### Rationale

The list of All and Managed Collections can get long.  This filter will help users to focus in on specific collections for which they have varying levels of abilities.

### Expected behavior

When access f

[2017-09-19 17:53] elrayle opened #1699 "Collections: Parent and subcollections in collection show page"
### Descriptive summary

Need to include nested collections in the collection show page.  This includes showing the parent collection(s) and the sub-collections.

### Implementation

#### Parent Collections

We discussed having the parent collections display titles only near the top of the page, likely just below the title.

#### Sub-collections

There are two approaches on the table for sub-colle

[2017-09-19 17:55] elrayle commented on #1699
@ggeisler Any chance for a mockup for this?

[2017-09-19 17:56] elrayle commented on #1699
Parent from CurateND...

![image](https://user-images.githubusercontent.com/6855473/30607233-49647820-9d42-11e7-917b-ddb5af2f8c3f.png)

[2017-09-19 17:57] elrayle commented on #1699
Sub-collections from CurateND (just above list of works)...

![image](https://user-images.githubusercontent.com/6855473/30607292-72d3c382-9d42-11e7-994a-87384c8c7a29.png)

[2017-09-19 18:18] laritakr commented on #1699
This is sort of how it looks with collections mixed into the list.

If we kept them mixed, we would likely want to add type to the list. In one list means one search instead of two, and includes the collections in the search results if searched. If we won't have a design for a while, I lean toward leaving them in the list until we decide, because it's simple for now and we won't be doing a bunch o

[2017-09-19 22:30] ggeisler commented on #1699
@elrayle I'm not sure I have time to do an updated mockup for this. I think someone needs to make some decisions first, such as whether it is more useful to separate works and sub-collections or list them in one table, as I think @laritakr's examples shows they are now.

If it is okay to separate works from collections, then another decision is whether for the collections it is necessary to put th

[2017-09-19 23:24] darrenleeweber commented on #1016
See also my Solr related PRs on the Hyku project at
- https://github.com/samvera-labs/hyku/pulls/darrenleeweber

[2017-09-19 23:35] elrayle commented on #1587
NOTE:

* Admin Sets use `creator_ssim` to identify the user who created the admin set.
* Collections use `depositor_ssim` and `depositor_tesim` to identify the user who created the collection.
* Collections use use `creator_tesim` to identify the user who is credited as the creator of the content in the collection.

[2017-09-19 23:49] elrayle commented on #1699
That sounds good to me.  The only addition I might make is to include the item count after the subcollection title.  Perhaps in parentheses
* `Collection title A (25)`
* `Collection title B (13)`
* `Collection title C (59)`

[2017-09-20 00:14] ggeisler commented on #1699
Yep, I like that idea.

(Though what does the "item count" include if the sub-collection has both works and its own sub-collections?)

[2017-09-20 15:38] elrayle commented on #1699
@ggeisler I threw together a mockup (https://wiki.duraspace.org/x/4QRsBQ) that shows parent and sub-collections added to the admin show page.  Let me know what you think.  Questions that came up for me while putting it together...

* I like the distinctive way that CurateND set the heading for Parent Collection.  But we don't have anything like that anywhere else.  Other options would be to have t

[2017-09-20 15:50] adamjarling commented on #1377
@elrayle From the 'Implementation' section of description above, I'm not seeing the link for `app/views/hyrax/collections/_form.html.erb`.  Should this file exist, or be created, or is the link a typo maybe?

[2017-09-20 15:58] laritakr commented on #1699
The metadata (#2) is currently two columns rather than just one. It was like that before, and I didn't bother to change it. Since there's space for that, you might want to think about whether or not we want that changed. If we don't add much metadata, there's no reason for two columns, but if there's a lot, it makes the page even longer and two columns might be more concise.

In a similar light, p

[2017-09-20 16:56] ggeisler commented on #1699
@elrayle Sure, this looks okay to me. It's going to be a busy page with all the various elements, but I guess we need them so that's probably unavoidable.

I like the parent collection heading approach. I personally don't think there is a need to indent the titles under the heading (nor under the Subcollections heading) since the heading is visually distinctive.

Regarding @laritakr's point about

[2017-09-20 17:51] mjgiarlo commented on #1404
I believe #1406 should have closed this issue.

[2017-09-20 17:51] #1404 closed

[2017-09-20 18:53] vantuyls opened #1701 "When creating a work with an embargo - entry disappears"
### Descriptive summary

### Related work

https://github.com/curationexperts/nurax/issues/43

[2017-09-20 19:51] mjgiarlo commented on #1701
@tdonohue heads-up!

[2017-09-21 00:09] elrayle commented on #1670
@laritakr brought up yet another wrinkle in the counts...  do we count only items the user can see?

@ggeisler How does the user know what the counts mean?  Will there be helper text on the table heading for All/Managed/Your Collections?

[2017-09-21 00:09] elrayle commented on #1699
RE: counts... added a comment in the issue related to calculating counts.  #1670

[2017-09-21 00:14] ggeisler commented on #1670
@elrayle I'd say the counts should be of things that user can view.

Not sure I understand the question of how does the user know what the counts mean. What needs explained, exactly? If you're referring to whether we need to explain to the user that the counts only include items they can view, I'm not sure I understand why that needs explained.

[2017-09-21 00:20] elrayle opened #1703 "Collections: admin show page should be accessible by depositors and viewers"
### Descriptive summary

Users should have abilities to see the admin show page for a collection if the user has `:manage`, `:deposit` or `:view`. This works for `:manage`, but not for `:deposit` or `:view`.

### Rationale

Users given participants permissions are likely to need to work with the collection and should have an easy way to see the collection while staying in the admin area of the app

[2017-09-21 10:48] #1633 closed

[2017-09-21 12:07] elrayle opened #1704 "ISSUES at master effecting collections-sprint"
### Descriptive summary

There are a couple of issues at master that effect collections-sprint.  They are being tracked here so we can pick up the work if needed.

#### Enhancements...

CLOSED #1705 Add Managed tab to Dashboard -> Works (NOTE: Work done in collections-sprint branch instead of master.)

#### Bug fixes required...

#1673 Permissions are not deleted anytime there is 'group' 'admin' f

[2017-09-21 12:45] elrayle commented on #1507
@ggeisler The mockup allows the user to delete the collection without removing the items first.  This is not allowed for admin sets.  The items must be either deleted or moved to another admin set before the admin set can be deleted.

Scenarios: (check if you agree)
- [ ] collection or admin set is empty - show mockup message and allow delete or cancel
- [ ] collection has members - show mockup me

[2017-09-21 12:57] elrayle commented on #1507
I do believe this is true.  In this issue, the delete is happening to the admin set.  If we show the mockup message and allow them to select Delete, what happens to the works in that admin set?

[2017-09-21 13:24] elrayle opened #1705 "Refactor: Add Managed tab to Dashboard -> Works"
### Descriptive summary

Dashboard Collections were refactored to add a Managed tab that shows users collections they did not create for which they have additional responsibilities through access grants.  This issue looks at doing the same work for Works.  See comments below for Related Work.

### Rationale

Collections and Works should have similar behaviors in the Dashboard.

### Expected behavi

[2017-09-21 13:28] elrayle commented on #1705
@ggeisler Can you confirm that the description in this issue matches what you expect?  This adds the Managed Works tab to Dashboard -> Works with behaviors that match those for Dashboard -> Collections -> Managed Collections.

[2017-09-21 13:51] elrayle commented on #1670
I can go with the idea that the numbers are self explanatory.  I was wondering about the confusion caused by user A seeing col_1 with count=15 and user B seeing col_1 with count=13.  This scenario arises when user A has edit access to two private works in the collection that user B doesn't.  But maybe having different counts will help them figure out why they see things differently.

[2017-09-21 14:43] laritakr commented on #1670
Since deleting a collection requires all members to be gone, it might be important to show the count of all items somewhere.  I believe the metadata itself includes this total, but we might want to change the title to somehow show that it includes ALL items not just the items available to you.

I'd suggest there might be a use for the following counts:

1. total items in collection regardless of p

[2017-09-21 14:59] elrayle commented on #1510
@ggeisler

This scenario occurs on Dashboard -> Collections -> Managed Collections, for any collection in the list where the user has view or deposit access, but not manage access.

[2017-09-21 15:18] #1643 closed

[2017-09-21 15:22] gordonleacock commented on #1686
The code:
**format.html { redirect_to dashboard_collection_path(@collection), notice: 'Collection was successfully created.' }**
does work, but it doesn't show the flash notice when it is:
**format.html { redirect_to edit_dashboard_collection_path(@collection),  notice: "Collection was successfully created." }**
which it currently is. That is, when it goes to the edit page instead of the show page

[2017-09-21 15:24] blancoj commented on #1567
I have done some work on this, but am not sure my approach is correct. @mjgiarlo suggested I use  `collection.errors.add(:collections, error_messages) if error_messages.any?` instead of `flash[:notice] = error_messages.join(" ") if error_messages.any?`, but I  I did not see the message show up.  This is where the message gets sent out:  https://github.com/samvera/hyrax/blob/coll-1567/app/controlle

[2017-09-21 15:42] elrayle opened #1707 "Collections: Show no permission/not nestable dialog when user clicks `add collection to collection` and can't nest"
### Descriptive summary

Dashboard -> Collections -> Manage Collections should always show `add collection to collection` action for a collection UNLESS there are no nestable collections in the system.  If a user clicks `add collection to collection` and they can't perform an action show a dialog explaining why they can't.

### Rationale

Educate the user when they cannot perform an action.

### E

[2017-09-21 15:44] elrayle commented on #1587
Remaining Work:

#1707 Do not show action `add collection to collection` to viewers on All/Managed Collections tab
#1507 Update code to handle deleting collections - specifically related to text shown in modals

[2017-09-21 15:45] elrayle commented on #1587
Requirements for this issue are met by PR #1655

[2017-09-21 15:45] #1587 closed

[2017-09-21 15:59] mjgiarlo commented on #1660
@emanuil-tolev OK, thanks. I'd like other @samvera/hyrax-code-reviewers folks to sound off on their preferences.In the meantime, do you think the documentation here is sufficient? https://github.com/samvera/hyrax/wiki/Hyrax-Management-Guide#derivatives

[2017-09-21 16:09] mjgiarlo commented on #1461
@mark-dce @no-reply do y'all want this in the 2.0.0 release? We're getting close to 2.0.0.rc1, so we'd need this to drop pretty soon to include it in 2.0.0. Else it can go into 2.1.0, which I hope will follow 2.0.0 pretty soon afterward.

Heads-up also to @vantuyls.

[2017-09-21 16:13] mjgiarlo commented on #1690
@elrayle Is this a real/stub issue, or a misfire?

[2017-09-21 16:13] elrayle commented on #1690
Clearly a misfire.

[2017-09-21 16:13] #1690 closed

[2017-09-21 16:16] mjgiarlo commented on #1425
Hyrax groups will be worked on by Notre Dame. This is unscheduled but coming soon.

[2017-09-21 16:16] #1425 closed

[2017-09-21 16:17] #1330 closed

[2017-09-21 16:17] #1329 closed

[2017-09-21 16:18] mjgiarlo commented on #1312
I'm going to close this for now, until we integrate this feature into the UI. We can revisit later. Thanks for writing this up!

[2017-09-21 16:18] #1312 closed

[2017-09-21 16:21] elrayle opened #1708 "Collections: UI/UX question regarding checkboxes for AdminSets on Collections index page"
### Descriptive summary

As part of PR #1655, admin sets were added to the collections index page.  This page allows bulk delete of collections.  Since admin sets require additional checks before allowing delete, the checkboxes weren't added for admin sets.

QUESTIONS:
* Should the checkboxes be added for all admin sets or just those that are empty?
* If they are added for all, what happens when t

[2017-09-21 16:25] ggeisler commented on #1507
@elrayle Okay, I understand the scenario now. Yes, I agree with your scenario suggestions above, although I think we can provide a slightly less terse/more informative message to the user for the third scenario. How about something like:

Not a huge difference, just making it a bit more clear that the empty set requirement is only being enforced here because it is an admin set.

[2017-09-21 16:39] ggeisler commented on #1705
@elrayle Sure, that sounds fine to me, except I still don't understand the need (for either collections or works) to show the user all works/collections that user has `read` or `view` access to. I asked this question in an early comment in the [collections ticket thread](https://github.com/samvera/hyrax/issues/1587) and don't think you ever addressed it:

I'm not saying I absolutely think there is

[2017-09-21 16:41] elrayle commented on #1670
Collections can be deleted even if they have members.  Admin sets cannot be delete until they are empty.  If you see an issue that states otherwise, can you bring it to my attention?  There was a period of time when we did discuss collections needing to be empty, so it is possible there are outdated descriptions hanging around.

RE: Your suggestions for counts...  I'm thinking we go with 2-4 inclu

[2017-09-21 16:46] ggeisler commented on #1670
I also wonder if it is possible for a user who has permission to delete a collection/admin set to not have permission to see all items in that collection? I wouldn't think that could happen, but I could be wrong.

I definitely think the page (and others) could use more thought regarding how we show counts and to make sure we're consistent with what we end up doing for the analytics-related pages.

[2017-09-21 16:47] elrayle commented on #1507
@ggeisler Great.  I updated the main body of the issue to summarize the modal text.

[2017-09-21 16:51] elrayle commented on #1705
For clarification, the only `read` access collections/works included in Managed Collections are the ones that the user is specifically granted through collection participants Viewer or through works sharing read access.  If a collection or work is singled out for sharing view access, that seems significant and the user is likely to have a higher interest in having access to that item.

The managed

[2017-09-21 18:29] mark-dce commented on #1461
@mjgiarlo can we get back with a PR by Monday AM 10/25 if possible and otherwise let it slide to 2.1?  (We need it in a project that is shipping immanently and it would be cooler to have it here than in the local project, but I'm not 100% sure what else we need to get done first)

[2017-09-21 19:08] mjgiarlo commented on #1461
@mark-dce 9/25? Absolutely.

[2017-09-21 19:12] cpd3149 commented on #104
+1 for this

[2017-09-21 19:40] ggeisler commented on #1705
@elrayle Oh, okay, that's less of a concern then.

I wasn't taking into account read access being included when I came up with the label "Managed." I don't have any better ideas at the moment. I think it might be okay to continue to use it, unless someone comes up with a better idea, since the list is unlikely to include many objects the user can't actually manage.

[2017-09-21 19:48] elrayle commented on #1620
Requirements met by PR #1658

[2017-09-21 19:48] #1620 closed

[2017-09-21 19:51] elrayle commented on #1545
All requirements are met by PR #1693

[2017-09-21 19:52] #1545 closed

[2017-09-22 01:32] elrayle commented on #1689
PR #1709 meets the requirements for this issue.

[2017-09-22 01:32] #1689 closed

[2017-09-22 14:39] jcoyne commented on #1191
I wonder if only occurs when: `Rails.application.config.action_controller.per_form_csrf_tokens = false` (this is in `config/initializers/new_framework_defaults.rb` on rails 5).  Has anyone checke this?

[2017-09-22 15:17] julesies opened #1712 "Breadcrumb on show views should not include "Your Works" with an unauthenticated user"
When viewing a work as a public user (not logged in) you are presented with breadcrumb "Your Works > Title of Work". If you click on "Your Works" you are asked to sign in. Unauthenticated users should not see "Your works" in the breadcrumbs.

Note: This also happens on the fileset show view. Related: when I refresh the fileset show view, all breadcrumbs disappear including the one linking a filese

[2017-09-22 15:28] mjgiarlo commented on #1191
Thanks for the tip, @jcoyne! I don't believe anyone's checked this. If this is the case, we should ask folks how they'd feel about twiddling this value.

[2017-09-22 16:48] mjgiarlo commented on #1712
@julesies I could not reproduce this. I wonder if you saw them in Chrome because they were still in cached referer information? To test this, start up a new incognito window in Chrome and browse to:

https://demo.curationexperts.com/concern/images/1544bp08d?locale=en

Do you see the breadcrumbs? I don't! In which case I think we can close this issue and the one in Nurax.

[2017-09-22 16:50] julesies commented on #1712
@mjgiarlo ah you are right. I don't see it in incognito browser, that is good! will close both.

[2017-09-22 16:52] #1701 closed

[2017-09-22 19:46] shlake commented on #1712
Should I crate a new ticket because this "Your Works" bread crumb also appears on the "show file set" page as well (when not logged in - on Chrome & Safari).

https://demo.curationexperts.com/concern/file_sets/v692t621m

![screen shot 2017-09-22 at 3 45 46 pm](https://user-images.githubusercontent.com/3809325/30761703-2c032e26-9fad-11e7-9a1a-b5c6073c0297.png)

[2017-09-22 20:04] mjgiarlo commented on #1712
@shlake I think we can edit this issue to include that information. Another issue though is that if you refresh the fileset show page (just like the work show page), all the breadcrumbs disppear, so you lose the linkage between a fileset and its' work.

[2017-09-22 22:37] jenyoung commented on #1568
Should we also discuss during a SMIG meeting? @samvera/hyrax-metadataists?

[2017-09-23 12:30] elrayle commented on #1651
NOTE:  Shift in requirements to add service methods that support filtering by access and abilities checks.

Did not add suggested methods in the form `user_edit_grants_for_collection(collection:)`.  These are covered by permission template query in the form `template.agent_ids_for(agent_type: 'user', access: 'manage')`

Added the following methods to support filtering...

* `.collection_ids_with_v

[2017-09-23 12:30] #1651 closed

[2017-09-25 13:04] elrayle opened #1717 "Collections: admin user fails can? destroy on collection show page"
### Descriptive summary

The Delete button is hidden unless `can? :destroy` is `true`.  This should be true for admin users.  It is not true when checked on the admin show page for a collection.

### Rationale

Admins should be able to do everything.

### Expected behavior

The Delete button should always be visible to admins on the admin show page for a collection.

### Actual behavior

The Delet

[2017-09-25 13:14] elrayle opened #1718 "Collections: Drive data from nesting API for Add this collection to another collection modal"
### Descriptive summary

Get the list of potential sub-collections for a collection from the nesting API.  Populate this list in the 'Add this collection to another collection' modal.

### Implementation

Update `app/views/hyrax/my/collections/_modal_add_collection_to_collection.html.erb` to use the nesting api to get the list of potential sub-collections through Hyrax::Collections::NestedCollecti

[2017-09-25 13:27] elrayle opened #1719 "Collections: Populate edit Relationships tab with list of parent collections and sub-collections"
### Descriptive summary

Get the list of parent collections and sub-collections for a collection from the nesting API.  Populate these lists in the `Relationships` tab of the collection edit form.

### Implementation

Update `app/views/hyrax/dashboard/collections/_form_relationships.html.erb` partial to...
- [ ] use the nesting api to get the list of sub-collections
- [ ] use the nesting api to ge

[2017-09-25 16:34] no-reply commented on #1461
#1720 deals with **Phase 1**.

I have a branch in to start work on **Phase 2** at https://github.com/samvera/hyrax/tree/admin-set-deprecation. As an opening salvo in the predicate wars of 2017 I've proposed `::RDF::Vocab::Samvera.memberOfAdminSet` as the new predicate. I have no idea what the `samvera:` namespace would be.

[2017-09-25 17:54] no-reply commented on #1671
The stance of the sidekiq team is that "`redis-namespace` is a hack" and you should isolate sidekiq apps on their own Redis dbs. https://github.com/mperham/sidekiq/issues/3366#issuecomment-284270120

[2017-09-25 17:56] no-reply commented on #1671
I'd like to propose deprecating the redis namespace options in Hyrax 2.0, for removal in 3.0. I could submit a PR for this today.

[2017-09-25 17:58] mjgiarlo commented on #1085
From @mtribone:

Looking into this, the `ui-sortable-handle` class appears to be coming from jquery-ui-rails, and it looks like FontAwesome is injecting the `float: left`.

[2017-09-25 18:01] jrochkind commented on #1671
is there a stack trace on the warning? What parts of hyrax are accessing redis anyway?

[2017-09-25 18:07] mtribone commented on #1085
It's how the card is constructed with Bootstrap. The offending class is `panel-heading` and may need to be overridden or rework how the vertical cards are written.

[2017-09-25 18:09] no-reply commented on #1671
@jrochkind the warnings are coming from Siqekiq (delayed jobs) and Redlock (distributed locking). Both are interacting with a `redis-namespace` gem to cause the problem. For Sidekiq, at least, the underlying issue looks like a wont-fix.

[2017-09-25 18:28] no-reply commented on #1671
A related note is in the `redis-namespace` README: https://github.com/resque/redis-namespace#blind-passthrough

[2017-09-25 18:51] mtribone commented on #1085
![screen shot 2017-09-25 at 2 47 00 pm](https://user-images.githubusercontent.com/4163828/30825428-f8b735fc-a200-11e7-9869-3980da19bd1c.png)

[2017-09-25 19:01] mjgiarlo commented on #1085
Thanks, @mtribone! I see we now have https://github.com/samvera/hyrax/pull/1722 to deal with this.

[2017-09-25 23:00] vantuyls opened #1724 "Rights Statement shows URL in work view"
Migrated from Nurax.

Was expecting it to be more human readable, but I'm not sure if this is a bug. When creating a work and you select the Rights Statement, you choose the title of the statement. However on the work view, it's shown as a URL.

See:
http://demo.curationexperts.com/concern/generic_works/3b5918567?locale=en

@julesies
julesies commented 14 days ago
Likely a Hyrax issue.

@vantuyls

[2017-09-25 23:01] vantuyls commented on #1653
see also: https://github.com/curationexperts/nurax/issues/33

[2017-09-25 23:41] dunn opened #1725 "DeepIndexingService shouldn't inherit from BasicMetadataIndexer"
Hyrax provides `BasicMetadata` as a mixin for object models so that institutions can replace it with their own metadata model.  Consequently, the indexing behaviors should not assume that `BasicMetadata` is being used; but currently they do.

The indexer templates include a mixin corresponding to `BasicMetadata`, called `IndexesBasicMetadata`.  The comment indicates that it can be removed if `Basi

[2017-09-26 00:16] mjgiarlo commented on #1725
Thank you for writing this up and taking it on, @dunn!

[2017-09-26 02:13] elrayle commented on #1461
So, I missed this issue and am coming late to the conversation.  I saw the commit of PR #1720 which brought this to my attention.

What is the history of using a predicate other than `pcdm:memberOf`?  As in...
[code]
And if we are going to change the predicate, why create a new predicate instead of using `pcdm:memberOf`?

The Collection Extensions working group and sprints have been laying the gro

[2017-09-26 14:09] elrayle commented on #1510
UI/UX of Bulk Delete...

@ggeisler Can you select checkboxes for the statements you agree with and add clarifications where you expect things to be different.

Your Collections
- [ ] bulk `Delete collections` button is visible and available for users
- [ ] by definition of being on Your Collections, the user is the owner for everything in the list AND therefore, has edit/delete abilities
- [ ] inc

[2017-09-26 15:31] julesies commented on #674
Just documenting here another reason this is a problem (which we found in testing nurax). If there are any admin sets with restricted visibility and release and that admin set is the last one created (thus the default dropdown admin set), the depositor doesn't realized that and is prevented from entering the visibility and embargo settings they want/need (if that does meet the vis requirements of

[2017-09-26 16:13] #1085 closed

[2017-09-26 16:22] KihOshk opened #1727 "Fresh Install Suddenly Not Working (Solr not starting)"
Hello,

Apologies if this is the wrong area to post this as I don't believe it's an "issue" per se, but may be my overlooking something. I'm from a Windows shop, and am sort of green when it comes to running Linux servers.

I've been running an un-customized development version of Hyrax for about 3-weeks without issue. I suddenly have had problems starting the Hyrax server, and after repeated atte

[2017-09-26 16:31] rotated8 commented on #1727
The version of Hyrax you are using does not support Solr 7, which solr_wrapper has downloaded. If you are working with a one of the Hyrax 2.0.0 betas, you can upgrade to 2.0.0.beta4, or the master branch in git, where this is fixed. Alternately, you can add `version: 6.6.1` to the .solr_wrapper file.

[2017-09-26 18:27] mjgiarlo commented on #1461
@elrayle Good question. As I understand it, `pcdm:memberOf` is for expressing relationships between PCDM entities, such as objects and collections. From the ontology:

Administrative Sets are not modeled as PCDM Collections, and are not modeled in PCDM at all. Should we reconsider the default predicate for the Work/AdminSet relationship?

[2017-09-26 18:52] blancoj commented on #1717
@elrayle I just tested this and I don't see a problem.  I see the Delete button next to the Delete button on the landing page.  I created the coll as user abc ( not an admin ), then logged in as an admin.
<img width="1588" alt="screen shot 2017-09-26 at 2 50 48 pm" src="https://user-images.githubusercontent.com/11095558/30878270-513c3bfe-a2ca-11e7-865d-757f69592ea9.png">

[2017-09-27 10:01] elrayle opened #1730 "Collection Types: switch order of settings require membership and multiple membership"
### Descriptive summary

On Collection Types -> Settings tab, move Multiple Membership above Require Membership.

### Rationale

This groups the 3 admin set only settings together as the last 3 settings on the tab.

### Expected behavior

No behavioral changes.

### Steps to reproduce the behavior

1. Dashboard -> Settings -> Collection Types -> edit User Collection -> Settings tab

Verify the ord

[2017-09-27 12:30] amccarty opened #1731 "Full Libreoffice install required for conversions"
Is there a minimal subset of Libreoffice binaries and libraries required for generating derivatives? While it's not a major problem for a single instance, I feel like a full installation is a bit heavy, especially for those of us who might be deploying to Elastic Beanstalk, etc. Currently the Linux flavor of Libreoffice weighs in at ~250MB:
[code]
Again, this isn't a major concern, just figured I'

[2017-09-27 13:21] elrayle opened #1732 "Collection Types: Don't allow users to change the name of Admin Sets type"
### Descriptive summary

On Collection Types edit page for Admin Sets only, don't allow the Type Name to be edited.

### Rationale

The terminology for Admin Sets in the UI is hardcoded in the Admin Set new/edit forms and show pages.  There would need to be additional work to drive those off the collection type name.

### Expected behavior

Type Name for Admin Sets cannot be changed.  Description

[2017-09-27 14:59] KihOshk commented on #1727
Hey @rotated8,

Thanks for the quick response; I really appreciated that. I would have responded yesterday, but I was diverted to another project.

@mjgiarlo , would you please have another look at this? Apologies if it's just my inexperience with Ruby/Rails, but I am still having an issue with Solr.

A little background: I'd had a version of Hyrax running for the past two-months waiting around fo

[2017-09-27 15:14] blancoj commented on #1730
Fix was merged into collections-sprint branch

[2017-09-27 15:14] #1730 closed

[2017-09-27 17:25] laritakr commented on #1707
@elrayle Does the following look correct to you?

In order to override the standard `can? :edit, Collection` behavior, I believe this will require the following changes to incorporate the permission check for the specific collection id.

- [ ] Add a public method in hyrax/collections/permissions_service.rb similar to the can_deposit_in_collection method.
`can_manage_collection(user:, collection:)`

[2017-09-27 17:37] mjgiarlo commented on #1731
@amccarty Good question! I'm not entirely sure. Would you be willing to explore this and drop your findings here?

[2017-09-27 18:09] mjgiarlo commented on #1727
Hi, @KihOshk. The problem is that it seems you have a version of Hyrax that does not support Solr 7. The root error is `Setting default operator in schema (solrQueryParser/@defaultOperator) not supported` and that has been fixed as of Hyrax 2.0.0.beta4, which came out after you ran through the Hyrax installation steps originally.

You have two options:

1. Update to the latest Hyrax code, which wo

[2017-09-27 18:11] KihOshk commented on #1727
Thanks @mjgiarlo; trying your solutions now.

[2017-09-27 18:12] mjgiarlo commented on #1727
np, @KihOshk. Hope it works.

[2017-09-27 18:18] laritakr commented on #1707
@elrayle A concern with the above might be if the permission template has changed, where someone who was initially not given access to the collection via the permission template, and therefore didn't get edit access on the collection, would now have access to create a nested collection in it via the revised permission template. Is this what we want? Or would we simply want to verify standard edit

[2017-09-27 18:24] KihOshk commented on #1727
HUZZAH!

Thanks @mjgiarlo and @rotated8 for your assistance. I've obviously overlooked something I did PROPERLY in my first foray into Hyrax since that attempt worked.  I'm gonna run Solr 6 for now and revisit 7  and Hyrax 2.0.0.beta4 later.

Really appreciate the support; this was giving me agita.

[code]

[2017-09-27 18:24] #1727 closed

[2017-09-27 18:39] mjgiarlo commented on #1727
Glad to hear it, @KihOshk!

[2017-09-27 18:58] elrayle commented on #1707
We've been talking about ability to edit (me included), but the actual ability we need to check is whether the user can deposit in the collection.

* can :edit, Collection should be true, only for users that have `edit_access` in the solr doc as an individual user or by group membership.  This matches the normal way of checking edit access, so I don't think we need a special method for that.  Mana

[2017-09-27 19:01] SykesStudio commented on #1392
Hello, I keep getting this error, Any suggestions?

Starting Solr 7.0.0 on port 8983 ... /home/SolrUser/.rvm/gems/ruby-2.4.0/gems/solr_wrapper-1.1.0/lib/solr_wrapper/popen_runner.rb:6:in `popen': Permission denied - /tmp/solr-7.0.0/bin/solr (Errno::EACCES)

[2017-09-27 20:30] mjgiarlo commented on #1392
@SykesStudio Yep! See here: https://github.com/samvera/hyrax/issues/1727#issuecomment-332608216

[2017-09-28 16:17] ggeisler commented on #1510
@elrayle These seem reasonable to me, although you should keep in mind that I'm not running the application so am just going by what makes sense to me on paper. If you or the team actively working on things feel strongly something should be different, feel free to override my opinion.

The one I didn't check in each case has to do with not including the checkbox next to admin sets. I assume this o

[2017-09-28 18:33] blancoj commented on #1577
This has been closed.

[2017-09-28 19:04] mjgiarlo commented on #1684
Can confirm this is an issue with Box and not with Dropbox, due to the path of the JobIoWrapper being set to `/tmp/some-long-string/download` instead of `/tmp/some-long-string/the-filename.pdf`. Don't currently have time to look into this further. Next step is to determine what component is setting the name of this path, and to see if it can instead access the original filename and use this instea

[2017-09-28 21:13] VivianChu opened #1742 "User with Editor role can't see private collection"
### Descriptive summary

For Hyrax 2.0.0.beta1, User with Editor role can't see a private collection created by other Users.
For Hyrax 2.0.0.alpha, Editor user can see private collection fine.

Hyrax 2.0.0.beta1
![editordashboard](https://user-images.githubusercontent.com/1864660/30990702-1def50d6-a457-11e7-891d-e585fa9563af.png)

![privatecollection](https://user-images.githubusercontent.com/1864

[2017-09-29 10:42] geekscruff opened #1744 "FileSetBehavior should not include BasicMetadata"
There's an inconsistency between Collection, *Work and FileSet. The first two add Hyrax::BasicMetadata in the model, whereas FileSet adds it into FileSetBehavior.

This is inconsistent, either BasicMetadata should be added on FileSet as per the others, to allow customisation, or it should not be added at all (do we really want BM on FileSets?).

In addition, with the move of the indexing behaviour

[2017-09-29 14:57] elrayle commented on #1699
Mockup showing separation of Subcollections and Works...
<img width="1200" alt="image" src="https://user-images.githubusercontent.com/6855473/31021796-f1562b68-a504-11e7-81a0-c5d061933d0e.png">

[2017-09-29 15:38] elrayle commented on #1461
@no-reply Can you point me to code where...

Here is what I see...
[code]

[2017-09-29 19:53] elrayle opened #1745 "Collections: Add counts to search results"
### Descriptive summary

The count of works and collections should be part of the search results displayed with collections in search results.  This is part of the remaining work from issue #1670 - Calculate the number of items in a collection.

### Rationale

This provides the user additional information and makes collections more visually distinct in search results.

### Expected behavior

The U

[2017-09-29 19:57] elrayle commented on #1670
Remaining work:
#1745 Collections: Add counts to search results

[2017-09-30 17:12] adamjarling commented on #1745
@elrayle I can't find how to add a collection as a sub-collection from the UI.  Is this path available in `collections-sprint` at the moment?   Looks like the relationships tab, and nesting options both are still inactive... Maybe I'm missing something.

[2017-10-01 00:31] scherztc commented on #1235
See what we did locally to solve this : https://github.com/uclibs/scholar_uc/pull/1668

[2017-10-01 00:35] scherztc commented on #1684
See what we did here locally to solve this :  https://github.com/uclibs/scholar_uc/pull/1663

[2017-10-01 14:23] elrayle commented on #1670
All requirements are covered by PR #1739 or issues for the remaining work.  Closing this issue.

[2017-10-01 14:23] #1670 closed

[2017-10-01 14:34] elrayle commented on #1461
@no-reply I am hoping you can respond soon.  I would like to have this resolved before 2.0 is released.

I would like to be sure I understand the issue you are seeing, especially, with respect to the need for round trips to fedora.

[2017-10-02 12:30] elrayle commented on #1377
Remaining Work:
#1719 Populate edit Relationships tab with list of parent collections and sub-collections

[2017-10-02 12:31] elrayle commented on #1377
All requirements of this issue are met by PR #1702 or covered by the Remaining Work issues.

[2017-10-02 12:31] #1377 closed

[2017-10-02 12:51] elrayle commented on #1577
* Collection -> Edit -> `Save changes` should be `Save`
* Collection Type -> New -> `Save changes` should be `Save`
* Collection Type -> Edit -> `Save changes` should be `Save`

[2017-10-02 12:54] elrayle commented on #1527
Issue #1577 & #1578 address these UI changes.

[2017-10-02 12:54] #1527 closed

[2017-10-03 13:56] laritakr opened #1748 "Editing a work removes the collection it was in previously"
### Descriptive summary

When editing a work that is part of a collection, the collection gets removed after the updated work gets saved. (master)

### Expected behavior

The collection should not be affected when a work is updated.

### Actual behavior

The collection is being removed when a work gets updated.

### Steps to reproduce the behavior

1. Create a work in a collection.
2. Edit the wor

[2017-10-03 14:51] mjgiarlo commented on #1748
The problem seems to be that loading the "Edit work" page does not successfully select the existing collections the work is a attached to. (So when the form is submitted, the controller interprets the form params to mean the user has deselected the collections.)

[2017-10-03 16:14] adamjarling commented on #1745
@elrayle Regarding the Slack comment about not over-writing other pieces of the application which use the partials I've updated in this branch... I did a bunch of home page, app searches for Collections and terms (granted with only app data added in the Issue description above), and I think I found how to make this an update which plays better with Bootstrap's usage of rows/cols for Collections an

[2017-10-03 16:48] no-reply commented on #1461
@elrayle you can reproduce the original issue defining a property using the predicate. e.g. `GenericWork.property :isPartOf, predicate: ::RDF::DC.isPartOf`.

The issue with respect to data round trips is that the member object does not know the type of the objects in the `dc:isPartOf` relation. Any solution for filtering will require fetching that data from elsewhere when the property is accessed.

[2017-10-03 17:25] elrayle commented on #1461
@no_reply Asked the question in Slack...

### Short Term Reality
The Collection Extensions (CE) work currently mimics Admin Sets as Collections in the UI.  Processing for new/edit/show are still handled separately with Admin Sets using the original admin set code and collections using the CE code.  Processing for workflows and visibility remain only available to Admin Sets.  The reasoning was two-

[2017-10-03 17:38] no-reply commented on #1461
All of that background makes sense to me, but I still can't connect the dots to how it changes the assessment of the issue we arrived at in early August.

The issue at that point was that we currently use a common predicate `dc:isPartOf` for AdminSet relations. People wanted to use another one (I suspect the stakeholders would be happy with `pcdm:memberOf`), but doing so would require a data migra

[2017-10-03 17:46] elrayle commented on #1461
I see where you are coming from with the desire to have the migration tooling in place prior to requiring a change in the predicate.

I would be more comfortable with this proposal if...

**Phase 1: Set the default to `pcdm:memberOf` and include release notes that indicated to avoid migration, override the default and set it to `dc:isPartOf`.**

This would allow existing sites to avoid migration i

[2017-10-03 17:49] no-reply commented on #1461
Does this work out of the box? I believe this runs into the same predicate conflict issues with `dc:isPartOf` that gave rise to the original issue. I.E. `#admin_set` would return all of the collections or objects that a given object is `pcdm:memberOf`.

[2017-10-03 18:08] elrayle commented on #1461
@no-reply  Can you show me the exact code that is causing the problem of returning all objects with dc:isPartOf?  Ideally pointing me to the code in github so I can see it in context.

[2017-10-03 18:10] no-reply commented on #1461
https://github.com/ActiveTriples/ActiveTriples/blob/develop/lib/active_triples/relation.rb#L481-L488

[2017-10-04 12:20] elrayle commented on #1461
@no-reply I see where `.object` is called all over ActiveFedora.  I do not see it called in Hyrax.  Is there a particular part of Hyrax where this was giving you difficulties?  Most of the UI is driven off Solr and not Fedora.  And the search builders generally limit on model.  Where in Hyrax is this causing a difficulty?

[2017-10-04 12:38] ojlyytinen opened #1750 "Delete button doesn't work in collection show page"
### Descriptive summary

If you click the red delete button on collection show page you'll get an error message and the collection is not deleted.

Selecting delete from the actions drop down menu in the dashboard collection list does work and delete the collection.

This happens on Hyrax v2.0.0.beta4.

### Rationale

The delete button should work the same as deleting from the dashoard list.

###

[2017-10-04 14:52] mjgiarlo commented on #1750
Thanks for writing this up, @ojlyytinen.

Ticketed too in Nurax: https://github.com/curationexperts/nurax/issues/70 (Adding this here to make the linkage over there.)

[2017-10-04 14:53] mjgiarlo commented on #1750
Traceback includes e.g. `F, [2017-09-29T15:45:46.030227 #3988] FATAL -- : [700a880a-fa30-4fe2-975c-169b75287fa2] ActionController::RoutingError (No route matches [DELETE] "/collections/6q182k13s"):
` Delete button references wrong path helper? Should route to /dashboard/collections/...?

[2017-10-04 14:54] mjgiarlo commented on #1750
Do you have cycles to whip up a PR, @ojlyytinen?

[2017-10-04 15:10] ojlyytinen commented on #1750
I believe this will be a one line fix. I think I can do that sometime this week.

[2017-10-04 15:14] mjgiarlo opened #1751 "Adding a private work to a collection throws error"
### Descriptive summary
I tried to add a bunch of works to a collection I created.  As far as I can tell, it works for any combo of works that are public, embargoed, institution only. But if you try to include a private work either in batch or single, you get "We're sorry, something went wrong"

### Expected behavior
You should either get a warning "Can't add private works" or it should allow you

[2017-10-04 15:15] mjgiarlo opened #1752 "Admin User can't view private collections deposited by other users"
### Descriptive summary
As an Admin user, I can discover private collections created by other users both in the dashboard and from the home page. When I click on them form dashboard or homepage, I can not see the collection itself

![screen shot 2017-09-28 at 11 02 08 am](https://user-images.githubusercontent.com/4356335/30974361-7be8e7fc-a43d-11e7-98e9-b81bc759df4c.png)

When in Dashboard, I can

[2017-10-04 15:15] mjgiarlo commented on #1752
Refs https://github.com/curationexperts/nurax/issues/72

[2017-10-04 15:16] mjgiarlo opened #1753 "Disabling proxy deposit does not disable proxy deposit"
### Descriptive summary
disabling proxy deposit does not disable proxy deposit

on Nurax via chrome on mac

### Expected behavior
disabling proxy deposit should 1) make the proxy option disappear from the user profile, but more importantly 2) remove the ability to deposit on someone else's behalf.

### Actual behavior
disabling proxy deposit allows users to set proxys and for proxys to deposit on

[2017-10-04 15:17] mjgiarlo commented on #1753
Refs https://github.com/curationexperts/nurax/issues/74

[2017-10-04 15:17] mjgiarlo opened #1754 "Item added to existing embargoed work using Browse cloud files (Box) is private"
### Descriptive summary
(Chrome/Windows) Item added to existing embargoed work using Browse cloud files (Box as source) is private instead of embargoed.

### Expected behavior
When an item is added to an existing embargoed work using the Add files button, the newly added item maintains the same embargo visibility as the work. This behavior would also be expected for an item added using the Browse

[2017-10-04 15:18] mjgiarlo commented on #1754
Refs https://github.com/curationexperts/nurax/issues/81

[2017-10-04 15:18] mjgiarlo opened #1755 "New works added as child works are pending approval and cannot be viewed"
### Descriptive summary
Works added using "Attach New Work" to create a child work indicate they are pending approval, and cannot be viewed or approved.

### Expected behavior
New work is added and listed as a child

### Actual behavior
New work is added as "pending approval" and cannot be approved by the depositor, and does not appear as a child of work as intended. The new work also cannot be se

[2017-10-04 15:18] mjgiarlo commented on #1755
Refs https://github.com/curationexperts/nurax/issues/82

[2017-10-04 15:19] mjgiarlo opened #1756 "Work analytics page graph does not load without refresh"
### Descriptive summary

Work analytics page graph does not load without refresh, and page views are always at 0.

### Expected behavior
Analytics page will show graph and number of views since date created

### Actual behavior
Views are always 0, and graph does not load without a page refresh

### Steps to reproduce the behavior
1 Go to a Work (in this case, publicly visible and with known views)

[2017-10-04 15:19] mjgiarlo commented on #1756
Refs https://github.com/curationexperts/nurax/issues/83

[2017-10-04 15:20] mjgiarlo opened #1757 "As a Manager, I can edit a work pending review, but it doesn't save"
### Descriptive summary
When logged in as a manager, I go to edit the title of a "Private Work" that is "pending review" and I'm able to edit metadata, but then upon hitting save the edit I made, disappears.

### Expected behavior
Either I should be able to edit and save, OR I should not be able to edit if that operation is prohibited.

### Actual behavior
I can edit works in workflow, but changes

[2017-10-04 15:21] mjgiarlo commented on #1757
Refs https://github.com/curationexperts/nurax/issues/87

[2017-10-04 15:26] mjgiarlo commented on #1756
Fixed by https://github.com/samvera/hyrax/pull/1746

[2017-10-04 15:26] #1756 closed

[2017-10-04 15:32] no-reply commented on #1461
@elrayle the issue, its manifestation in the UI, and the steps to reproduce are documented in the issue text. I'm not sure what to add.

[2017-10-04 15:57] mjgiarlo commented on #1750
Thanks, @ojlyytinen!

[2017-10-04 16:26] mjgiarlo commented on #1748
Duplicates #1748

[2017-10-04 16:26] mjgiarlo commented on #1748
Closing because dup.

[2017-10-04 16:26] #1748 closed

[2017-10-04 16:27] mjgiarlo commented on #1683
Refs https://github.com/curationexperts/nurax/issues/94

[2017-10-04 16:31] #1753 closed

[2017-10-04 16:38] laritakr commented on #1748
@mjgiarlo You just closed this because it duplicates itself?

[2017-10-04 16:45] mjgiarlo commented on #1748
@laritakr Wrong link! Will resolve in a sec.

[2017-10-04 16:45] mjgiarlo commented on #1748
Duplicates #1683, rather

[2017-10-04 16:46] mjgiarlo commented on #1748
@laritakr :laughing:

[2017-10-04 16:52] mjgiarlo commented on #1750
@ojlyytinen I've assigned you to this issue for now so other interested folks can focus on other issues.

[2017-10-04 19:29] #1683 closed

[2017-10-04 19:45] #1752 closed

[2017-10-04 19:56] mjgiarlo commented on #1751
I cannot reproduce this issue.

[2017-10-04 20:00] mjgiarlo commented on #1742
Fixed by https://github.com/samvera/hyrax/pull/1760

[2017-10-04 20:02] mjgiarlo commented on #1751
@julesies Tagging you here so you can confirm.

[2017-10-04 20:29] julesies commented on #1751
@mjgiarlo i don't get an error now, but the private work was not added to the collection. @cpd3149 or @mjgiarlo can you try to confirm the work gets added?

[2017-10-04 20:35] mjgiarlo commented on #1751
@julesies https://demo.curationexperts.com/concern/generic_works/6969z078d?locale=en

[2017-10-04 20:36] jenyoung commented on #1505
@geekscruff This sounds like a good plan forward. I'd argue against orphaning the existing data. How do we make this happen? Thanks!

[2017-10-04 20:51] julesies commented on #1751
Okay, ignore that previous comment - I hit "add to new collection" button instead. But @mjgiarlo i changed your collection to private and can now get the red rails error again. "we're sorry something went wrong".

[2017-10-04 21:16] julesies commented on #1751
https://www.screencast.com/t/SGq1NFbFU

[2017-10-04 21:41] julesies opened #1762 "Privacy setting labels do not match in different views of same work"
Moved from Nurax - https://github.com/curationexperts/nurax/issues/89

**Descriptive summary**

When viewing an embargoed work, marked embargoed to Institution and then Public, the edit screen says, Restricted to PRIVATE instead of institution.

**Expected behavior**

Settings should match

**Steps to reproduce the behavior**

Check out this work https://nurax.curationexperts.com/concern/generic_w

[2017-10-04 21:42] julesies commented on #1762
refs https://github.com/curationexperts/nurax/issues/89

[2017-10-04 21:45] julesies commented on #1750
@mjgiarlo  I can't reproduce this on nurax now.

[2017-10-04 21:52] mjgiarlo commented on #1750
@julesies shall we close both issues?

[2017-10-04 21:54] julesies commented on #1750
@mjgiarlo can you try it first? Chris still gets the error.

[2017-10-04 22:06] mjgiarlo commented on #1750
I'm still seeing it, @julesies. And @ojlyytinen already has a fix in mind, so we'll leave this issue here.

[2017-10-04 22:13] mjgiarlo commented on #1751
@julesies Yeah, I don't know. Could be? Not seeing anything specific in the logs, either.

[2017-10-04 22:55] #1754 closed

[2017-10-04 23:04] mark-dce commented on #1461
@elrayle - let me see if I can provide my "manager's hat" understanding of the issue and proposal.  Other folks ( @mjgiarlo @no-reply @jeremyf @geekscruff ) may want to jump in with more technical or historical background.

**Background**
There is currently a usage of `::RDF::Vocab::DC.isPartOf` at https://github.com/samvera/hyrax/blob/v2.0.0.beta4/app/models/admin_set.rb#L43 for AdminSet relation

[2017-10-05 03:40] mark-dce commented on #1461
@elrayle Re-reading the entire thread an your comments, it seems like there is general consensus that the community would like to move away from the current implementation's use of `::RDF::Vocab::DC.isPartOf`.  So, it feels like the crux of the issue is
1. Whether to set the default for backward compatibility or toward a preferred future predicate (with appropriate release notes)
1. Whether the co

[2017-10-05 11:26] geekscruff opened #1765 "Rights in catalog_controller template - intentional or oversight?"
Hello. I notice that in `rights` appears several times in the `catalog_controller.rb` template at `lib/generators/hyrax/templates/`.

Should that be changed to `license` and `rights_statement` in line with changes to `BasicMetadata` and `WorkShowPresenter`?

I'm happy to pick this up, but wanted to check first that there isn't a reason for it being this way.

[2017-10-05 13:27] #1762 closed

[2017-10-05 14:09] elrayle commented on #1705
All requirements of this issue are met by PR #1749.

[2017-10-05 14:09] #1705 closed

[2017-10-05 15:47] #1750 closed

[2017-10-05 15:56] mjgiarlo commented on #1765
I suspect you're right. Go for it. Thanks!

[2017-10-05 16:49] julesies opened #1768 "As a manager, I can't see, but can edit works in admin set with review process"
Moved from Nurax https://github.com/curationexperts/nurax/issues/101

**Descriptive summary**

As a manager of an admin set, I can can't see works in review, but I can edit them.
Using Admin Set: Test one-step work flow with faculty manager - I had a regular user submit works. As the manager, I can't see them via Work View or if I click on work title via the Admin Set dashboard but you can edit th

[2017-10-05 16:56] julesies opened #1769 "Review Submissions panel shows more works than it should"
**Descriptive summary**
reported by @cpd3149 - moved from https://github.com/curationexperts/nurax/issues/99

As a non-administrator user with manager participation for an admin set(s), I should be able to review submissions from that(those) admin set(s). Instead, I see way more works from other admin sets in the Review Submissions panel.

**Evidence**

These are the admin sets I manage, containin

[2017-10-05 16:57] julesies commented on #1769
this happens with managers assigned to admin sets with 1-step workflow, probably need to test for other admin sets.

[2017-10-05 16:57] mjgiarlo commented on #1768
@julesies @vantuyls We need to assign a milestone and labels to this. (Blocker-worthy for 2.0.0?)

[2017-10-05 16:57] mjgiarlo commented on #1769
@julesies @vantuyls We need to assign a milestone and labels to this. (Blocker-worthy for 2.0.0?)

[2017-10-05 16:58] julesies commented on #1768
sorry, I assumed blocker. @vantuyls

[2017-10-05 17:56] cpd3149 commented on #1769
this could be confusing for non-administrator managers of admin sets (i.e. a department assistant reviewed masters theses). when they click on "review submissions" from their dashboard, they see a bunch of works and have no way of knowing which ones they can act on.

[2017-10-05 20:18] vantuyls commented on #1769
i'm concerned that this issue is related to a more general lack of understanding that we have about how roles and permissions work. Is this expected behavior? Was this designed to function this way, or is this a bug?

[2017-10-05 20:21] vantuyls commented on #1768
blocker.

[2017-10-05 20:26] julesies commented on #1769
I really don't remember it behaving this way when we tested before...if it's supposed to work this way that's a real concern IMO. This exposes content to people who shouldn't see it - so they can edit it.

I just edited this as a manager with no permissions to the admin set: https://nurax.curationexperts.com/concern/generic_works/tt44pm87g?locale=en

[2017-10-05 20:30] julesies commented on #1768
FYI this is weird with: https://github.com/samvera/hyrax/issues/1769 but I believe #1769 is only a problem for managers with who have permissions on admin sets with 1-step workflow.

[2017-10-05 20:52] vantuyls opened #1772 "Works "disappear" with deposit to Admin sets with combo: Release Embargo and Visibility Everyone"
Descriptive summary

When submitting to admin sets 2 and 11, it defaults to "private setting" - so if the depositor doesn't actively click another setting, but hits save, the work disappears. As far as I can tell, the combo has to be embargo allowed and public visibility.

Here is the admin set setting.
screen shot 2017-10-05 at 11 58 38 am

Here is the work view, where the setting does not move f

[2017-10-05 20:53] vantuyls commented on #1772
related to: https://github.com/curationexperts/nurax/issues/102

[2017-10-05 21:04] mjgiarlo commented on #1769
2.0.0 blocker or no?

[2017-10-05 21:21] vantuyls commented on #1769
i'd like us to dig a little on this with a bit more testing. can @julesies and @cpd3149 and I talk about this tomorrow some time on slack?

[2017-10-05 21:22] mjgiarlo commented on #1769
@vantuyls :+1:

[2017-10-05 21:34] bess opened #1773 "Feature request: Always make default admin set the first item in the select menu of the relationships tab"
### Descriptive summary

Currently, when a new AdminSets is created, it becomes the first (and thus, the auto-selected) option on the "Add as member of administrative set" select menu. This results in unexpected behavior for users.

### Rationale

An institution using Hyrax starts by only using the default admin set. Staff members are depositing items, and they get used to not having to select any

[2017-10-06 14:54] laritakr opened #1775 "Collections factory does not behave as expected without a permission template"
### Descriptive summary

The Collections factory allows you to create a collection without a permission template. Adding nested indexing identified a bug in the permissions given to a collection via this method.

Without a permission template, at some point during creating the collection, edit permissions are assigned to the creator. But during the reindexing, ActiveFedora::Base.find(id).to_solr d

[2017-10-06 17:15] jonathandixon commented on #1755
Unable to reproduce this on master.

1. The child work only requires approval if added to an admin set with a mediated deposit workflow.
2. When the child work is pending approval, it still appears in the edit relationship tab for the parent work.
3. Child works that are pending approval may be approved by a user with approval permissions on the workflow.

[2017-10-06 17:15] julesies commented on #1772
@tdonohue I was wondering if you might be able to look at this one because it's another scenario like: https://github.com/samvera/hyrax/issues/1701

[2017-10-06 17:16] julesies commented on #1772
@vantuyls when copying over issues from nurax to hyrax - the links to tickets that don't have the full url seem to get confused. See ticket is ref'ing the hyrax 43 instead of the nurax 43. I can't edit in this repo so I can't change it.

[2017-10-06 17:21] jonathandixon commented on #1757
Unable to reproduce this on master.

[2017-10-06 17:32] mjgiarlo commented on #1757
@cpd3149 @juliesies :point_up:

[2017-10-06 17:33] mjgiarlo commented on #1755
@heathergreerklein @julesies :point_up:

[2017-10-06 17:34] mjgiarlo commented on #1772
@julesies tweaked the link in the description. Also, I'll give you access so you can do this sort of thing henceforth.

[2017-10-06 17:44] jeremyf opened #1778 "Consolidate build/create/update logic of Works and Collections"
At present there is a disparity between the logic used to create a valid collection or work in specs (via Factory girl) and the logic needed to create a valid collection or work via the UI (via a controller action).

The proposed refactor is to create a single point that both the controller and the factories can use for creating Generic Work and Collection (and perhaps generated works via the rail

[2017-10-06 17:51] julesies commented on #1751
@mjgiarlo close then?

[2017-10-06 18:07] mjgiarlo commented on #1751
@julesies I suppose!

[2017-10-06 18:07] #1751 closed

[2017-10-06 18:17] jonathandixon commented on #1769
The query for the "Review Submissions" page selects any work that allows action by any workflow role the current user has. There are a couple of issues with this approach:

1. Any works added to the admin set before the user was granted permissions will show up in the query result. There is no check that the user has the required permissions on the individual works. Changes to admin set permission

[2017-10-06 18:56] julesies commented on #1769
@jonathandixon thanks for this explanation. I think this helps explain some other bugs we were seeing...as we were using the same workflow on multiple admin sets. I'm guessing reusing workflows is not something we want to recommend to people who need to implemented review with multiple departments. @vantuyls @mjgiarlo So the recommendation to repo-managers would be at this point, to create a workf

[2017-10-06 19:00] julesies commented on #1768
let's close this one,  @cpd3149 and I tested with a clean-er scenario.

[2017-10-06 19:00] julesies commented on #1757
We can't reproduce this one with a "clean" test. okay to close

[2017-10-06 19:03] mjgiarlo commented on #1769
I believe the current setup is that workflows are not shared between AdminSets -- this was a big gnarly problem with the initial workflow buildout. If AS1 uses mediated deposit workflow and AS2 does, those are created as separate entities in the database and should be treated separately.

[2017-10-06 19:08] julesies commented on #1769
So is this a legit bug and not working as expected? @mjgiarlo?

[2017-10-06 19:13] vantuyls commented on #1769
the current setup is that you can do whatever you want, i think there is a misalignment in the functionality of workflows and permissions that we've never tested (well enough) or specced out properly (i'll take 60% of the blame on that).

I think, for this reason, this is working as designed but not as expected. Maybe @samvera/hyrax-repo-managers can advise as to whether this is a manageable issue

[2017-10-06 19:22] #1768 closed

[2017-10-06 19:23] #1757 closed

[2017-10-06 19:30] mjgiarlo commented on #1769
@julesies

:point_up: sounds like a bug to me. I dig @vantuyls's idea of getting a sense from @samvera/hyrax-repo-managers as to what they would find acceptable in 2.0.0, with the understanding that we could prioritize a fix for 2.0.1, which could drop a few weeks after 2.0.0.

[2017-10-06 19:31] jonathandixon commented on #1769
@mjgiarlo That's right the workflows are not technically shared, as there are unique entries in the database for each admin set and workflow combination. But the name of the workflow remains the same for each entry as do the workflow role names.

The problem lies with how the `actionable_workflow_roles` are stored on the work and the query the `StatusListService` uses. This is done by concatenatin

[2017-10-06 19:57] mjgiarlo commented on #1769
@jonathandixon Ah, good eye! What if we replaced that line with something like `"#{wf.permission_template.admin_set_id}-#{wf.name}-#{wf_role.role.name}"` to disambiguate the different workflows?

[2017-10-06 20:08] jonathandixon commented on #1769
@mjgiarlo You could update that line, but you would also have to update `Hyrax::IndexesWorkflow` to do the same. And this change would require reindexing.

[2017-10-06 20:11] mjgiarlo commented on #1769
@jonathandixon Yep, working on that PR right now. Will add the reindexing to the 2.0.0 release notes if merged.

[2017-10-06 20:19] mjgiarlo commented on #1769
@jonathandixon https://github.com/samvera/hyrax/pull/1779

[2017-10-06 20:24] jonathandixon commented on #1769
@mjgiarlo It's worth mentioning that the PR doesn't fully address the issue. If a user is added as a manager after works have already been added to the workflow, then they will see those works on the Review Submissions page, but they will not be able to edit or approve them (maybe that's a separate issue).

[2017-10-06 20:40] mjgiarlo commented on #1769
@jonathandixon :+1: to separate issue for that, which perhaps is less of a 2.0.0 blocker (though needs writing up and schedling, perhaps for 2.x series). :point_left: @vantuyls @julesies ?

[2017-10-06 20:46] julesies commented on #1769
one thing i'm still unclear on is this with this fix...is this how you expect it to work now? Managers of work-flowed admin sets will see the works added to the admin set before the manager became a manager, but only in Review Submissions. They should still not have view or edit access to them. (It's really just showing them works that they can't take action on?)

[2017-10-06 21:04] mjgiarlo commented on #1769
Yes, I think that is correct, @julesies. If we want to ticket exploring this further in 2.x so we don't mislead users, I think that is also totally reasonable!

[2017-10-06 21:07] #1769 closed

[2017-10-06 23:57] conorom commented on #1407
Same as this?
https://github.com/mlibrary/heliotrope/issues/1122

[2017-10-07 00:05] elrayle commented on #1745
All requirements are met by PR #1766.

[2017-10-07 00:05] #1745 closed

[2017-10-07 10:39] elrayle opened #1782 "BUG Collections: index page has two widgets for limiting collections per page"
### Descriptive summary

There are two widgets for limiting collections per page.  Remove the one brought in by datatable.

### Rationale

Use the same widget used for Works.

### Expected behavior

Should only include `Show 10 per page`.

### Actual behavior

![image](https://user-images.githubusercontent.com/6855473/31306965-fa0fa69c-ab28-11e7-92c5-0a7638cb4186.png)

Notice: It has `Show 10 per

[2017-10-07 13:42] elrayle opened #1785 "BUG Collections: use of updated_index causes participants not to save on Add"
### Descriptive summary

`updated_index` causes participants not to save in several scenarios.

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is a new feature or significant change to the existing implementation.

### Expected behavior

#### Scenario - new collection

When a collection is created, the `:manage` participan

[2017-10-07 14:04] elrayle commented on #1782
All requirements met by PR #1783.

[2017-10-07 14:04] #1782 closed

[2017-10-07 14:22] laritakr commented on #1785
@elrayle We definitely can't reverse the indexing changes as you commented above, as that breaks a lot of other indexing cases. Have you tried to repeat this after merging in the PR that I submitted yesterday? I don't want to make any additional indexing changes until the changes are included to remove caching in the nesting indexer. I'd be very surprised if the changes to fix the caching didn't f

[2017-10-07 20:52] elrayle commented on #1785
I tested with the latest PR #1781 and see no change in this behavior.

[2017-10-07 21:36] mjgiarlo commented on #1455
Work in progress: https://github.com/samvera/hyrax/pull/1465

Notifications are the tip of the iceberg here. Workflow roles (when and how they are assigned) are a mess, and could use more discussion. I suggest we defer this until the Notre Dame team have had a chance to start making improvements.

[2017-10-08 22:55] elrayle commented on #1697
Addressed in PR 1774 which refactors abilities to use permissions services.  Closure pending merge of PR.

[2017-10-09 12:27] elrayle opened #1788 "Collections: Batch delete should show message if fails"
### Descriptive summary

If any selected collection fails to delete, there should be a message stating that some of the collections failed to delete due to lack of permissions.

Users can select any collection they can see in Dashboard -> Collections.  They may not have edit access to all those collections.  If they select collections with read access and click `Delete collections`, only collectio

[2017-10-09 12:31] elrayle commented on #1788
@ggeisler Since the only allowed batch operation is Delete collections, which is better when there is a mix of editable and read only collections in the list of collections on Dashboard -> Managed Collections?

OPTION 1: Showing a flash message when the user attempts to delete a read only collection. (described in this issue)

OPTION 2: Do not include a checkbox (or disable checkbox) next to read

[2017-10-09 12:36] elrayle commented on #1686
Requirements met by #1728.  Closing.

[2017-10-09 12:36] #1686 closed

[2017-10-09 13:12] elrayle commented on #1708
Issue #1788 has a similar question about UI/UX of checkboxes for Dashboard -> Collections

[2017-10-09 13:57] elrayle commented on #1461
@mark-dce Yes, I agree with your summary.  Several additional considerations.

1. Moving toward the preferred future predicate now means any new apps created now would not face a known-migration in the near future.
1. With the configurable predicate, existing apps can avoid the need for migration now in favor of a later migration when tools are available.
1. Selecting <pcdm:memberOf> as the defaul

[2017-10-09 15:05] elrayle commented on #1708
@ggeisler commented on #1510 which implemented batch delete for collections.

[2017-10-09 15:07] elrayle commented on #1510
Remaining work:
#1788 Batch delete should show message if fails
#1708 UI/UX question regarding checkboxes for AdminSets on Collections index page

[2017-10-09 15:07] elrayle commented on #1510
All requirements are addressed by PR #1788 OR in the issues for remaining work.  Closing.

[2017-10-09 15:07] #1510 closed

[2017-10-09 16:10] ggeisler commented on #1788
@elrayle If you went with option #2, I'd lean towards disabling, rather than hiding the checkboxes.

I would lean towards option #1, however, since with option #2 the user might not understand why a given checkbox is not shown (or is disabled). Option #1 has the advantage of helping the user understand why a given collection can't be deleted (albeit at the expense of having checked it in the first

[2017-10-09 16:18] ggeisler commented on #1708
Similar to #1788, I'd disable rather than hide the checkboxes.

[2017-10-09 16:27] jcoyne opened #1790 "Stop using ActiveFedora::Base#save"

[2017-10-09 16:30] jcoyne opened #1791 "First pass of visibility="

[2017-10-09 16:32] jcoyne opened #1792 "Sustitute Forms for ChangeSets"

[2017-10-09 16:33] jcoyne opened #1793 "Substitute Actors for ChangeSetPersisters"

[2017-10-09 16:34] laritakr commented on #1785
[This is the result of
 my testing.](https://docs.google.com/document/d/1vG844HDV9ne25BYNp537C5ZxBCMe8ELsw6Tb2unY4gU/edit?usp=sharing)

In short, the index is getting updated BEFORE the Fedora save, which should not be the case. The Fedora update should happen before we build the solr index.

[2017-10-09 16:41] jcoyne opened #1794 "Driver for Fedora should use the predicates from Hyrax 2."
I'm not sure how far off the default Valkyrie Fedora driver is.  This ticket means doing that analysis and fixing any delta.

[2017-10-09 17:01] jonathandixon commented on #1772
I've confirmed this, but I'm unsure of the best approach to take to fix the issue.

What happens is the actor stack fails to create the new work, which causes the new work form to rerender with a 422 Unprocessable Entity response. The resulting page has no indication that an error occurred and the form is empty. I'm pretty sure the `Hyrax::Actors::InterpretVisibilityActor` is where the work valida

[2017-10-09 17:09] jonathandixon commented on #1772
Nevermind, I think I see how to pass errors back to the controller and view.

[2017-10-09 17:14] mjgiarlo commented on #1461
@elrayle @mark-dce @no-reply @jlhardes cc: @vantuyls Good points, all.

I'm hesitant to change the default this late in the release process of 2.0.0. Could we address this via documentation in the meantime, letting folks know of collection extension changes that are coming and recommending usage of the community-preferred predicate (from @mark-dce's `2.` above)? If so... we need to figure out what

[2017-10-09 17:26] jcoyne opened #1795 "move GenericWork#create_transfer_request callback to actor"

[2017-10-09 17:57] elrayle opened #1797 "Collection Types: exception when failing to add a participant is ignored and logged only"
### Descriptive summary

The create service for participants for collection types rescues any errors when creating participants.  It does log the error, but provides no feedback to end users.  The errors should be gathered and returned to the end user so they can act as needed to rectify the situation.

### Rationale

Users should always receive feedback when things fail.

### Implementation

In [

[2017-10-09 18:04] julesies opened #1799 "Admin set release option can't return to defaults (disables lease option for the admin set)"
**Descriptive summary**

When creating an admin set, you can opt not to set anything under Release and Visibility: Release. However, if you click any of the release settings here, you can not Unclick (return to default). AFAICT, the only way to allow the option of Lease to work in the Work deposit form is to have nothing selected under "Release".

So if you create a new admin set and take the “def

[2017-10-09 18:06] elrayle commented on #1669
The requirements of this issue are met by the abilities refactor in PR #1774 Solidify abilities using permissions services.  Closing.

[2017-10-09 18:06] #1669 closed

[2017-10-09 18:06] jcoyne opened #1800 "Support Custom indexing"
Human readable type for example

List those to be refactored here:

- [ ] app/models/concerns/hyrax/human_readable_type.rb
- [ ] app/indexers/concerns/hyrax/indexes_basic_metadata.rb
- [ ] app/indexers/concerns/hyrax/indexes_linked_metadata.rb

[2017-10-09 18:06] julesies commented on #1799
refs https://github.com/curationexperts/nurax/issues/107

[2017-10-09 18:06] elrayle commented on #1697
PR 1774 has been merged.  Closing.

[2017-10-09 18:06] #1697 closed

[2017-10-09 18:09] julesies opened #1801 "Can't add a work to an admin set with an Admin set fixed release date setting that has passed"
**Descriptive summary**

When trying to add a work to an Admin set with a fixed release date setting that has passed, the work "disappears".

**Expected behavior:**
When date of embargo setting passes on the Admin set, one can still submit a work.

**Steps to reproduce the behavior**

1. Submit a work to an Admin set with an expired release date. Can use Nurax Admin Sets 16, 17, 18
2. Work disappe

[2017-10-09 18:15] elrayle commented on #1788
@ggeisler Do you have a suggestion of the wording to use in the flash message?  The potential reasons for failure are...
* read only collection or admin set
* non-empty admin set
* unknown error

I originally wrote...

"One or more of the collections you attempted to delete are read only.  They were not deleted.  Only collections you can edit were deleted."

But that doesn't quite cover it.  What

[2017-10-09 18:54] jcoyne opened #1802 "Sort_fields is deprecated warning"
in `app/views/hyrax/collections/_sort_and_per_page.html.erb:10`

We can use this code instead:
[code]

[2017-10-09 19:48] tpendragon opened #1805 "Missing `new_record?` interface."
Valkyrie

[2017-10-09 19:54] tpendragon commented on #1805
Only an issue in `WorkForm`, closing this since those are being replaced.

[2017-10-09 19:54] #1805 closed

[2017-10-09 20:19] jcoyne opened #1807 "NoMethodError: undefined method `ordered_members'"
swich with `member_ids=`

[2017-10-09 21:01] ggeisler commented on #1788
@elrayle I do think we should try to avoid using "require membership" in the message because the meaning of that is probably not immediately clear to all users.

How about:

I think we could get away without the "Collections without these restrictions were deleted" part and assume it will be obvious to the user that other collections were deleted, if they were. But you could also add that sentence

[2017-10-09 21:02] #1791 closed

[2017-10-09 21:02] tpendragon opened #1808 "Fix GlobalIDs for Valkyrie::Resource"

[2017-10-09 21:15] #1808 closed

[2017-10-09 21:16] #1790 closed

[2017-10-09 23:39] elrayle opened #1813 "Collections: edit form Discovery tab needs wording updated"
### Descriptive summary

Wording on the Discovery tab of the edit form is inconsistent with the wording used for works.  The wording should be the same.

### Rationale

Providing a consistent UI reduces confusion in users.

### Expected behavior

Based on work new/edit form, the text of each visibility setting should read...
* Public - Make available to all.
* Institution - Restrict access to Inst

[2017-10-09 23:43] elrayle commented on #1813
@ggeisler Can you verify the preferred text...

OPTION 1: That seen in the original mockup...

![image](https://user-images.githubusercontent.com/6855473/31363044-db61d3f2-ad29-11e7-989a-7eaae51ef2dc.png)

OPTION 2: That seen on the works new/edit form...

*    Public - Make available to all
*    Institution - Restrict access to Institution
*    Private - Keep to myself with option to share

[2017-10-09 23:51] ggeisler commented on #1813
@elrayle I think at some point after I created the mockup it was decided to change the wording to that in Option 2, so it makes sense to go with that version.

[2017-10-10 09:44] ojlyytinen opened #1814 "Can't ingest local file system files using Browse Everything and the local files are deleted"
### Descriptive summary

It's impossible to add files from a local file system using Browse Everything unless you're using :inline ActiveJob queue_adapter.

[IngestLocalFileJob calls FileSetActor.create_content and then immediately removes the file](https://github.com/samvera/hyrax/blob/master/app/jobs/ingest_local_file_job.rb#L13). However, [FileSetActor relies on IngestJob.perform_later doing th

[2017-10-10 14:07] jcoyne opened #1820 "Usage of render_thumbnail_tag is deprecated"
[code]

[2017-10-10 15:25] #1820 closed

[2017-10-10 15:27] #1772 closed

[2017-10-10 15:51] mjgiarlo commented on #1814
@ojlyytinen Yes, please do make a PR. I don't think we want Hyrax to delete these files -- folks can and should deal with this elsewhere. Thanks!

[2017-10-10 16:12] jcoyne opened #1822 "Replace member_of_collections= with member_of_collection_ids="
@tpendragon said on slack:

[2017-10-10 16:14] cjcolvar opened #1823 "Replace #find with #find_by(id:)"
Use Valkyrie's query_service method to find resources by id.

[2017-10-10 16:46] shlake commented on #1755
I reproduced the "pending" behaviour:

Created two “base” works:

With Admin Set: Admin Set Test 1 - Default Workflow, Unchanged Release and Visibility
1st Work https://nurax.curationexperts.com/concern/generic_works/cz30ps70h?locale=en
Attached work: https://nurax.curationexperts.com/concern/generic_works/v979v3061

With Admin Set: Default Admin Set
1st Work: https://nurax.curationexperts.com/con

[2017-10-10 17:11] mjgiarlo commented on #1755
@shlake I don't recall if this was the intended behavior or not. Do other `pending` works appear in your dashboard? Or is it just child `pending` works that do not appear?

[2017-10-10 18:26] laritakr opened #1826 "Indexing following save/update -- sequence of events"
### Descriptive summary

When we index an object, depending on the transaction which is underway, we may be updating the Solr index before the object is actually saved in Fedora. If we are saying that Fedora is to be the canonical source of information, this is not correct.

### Detail

As we [update permissions on a collection](https://github.com/samvera/hyrax/blob/collections-sprint/app/models/c

[2017-10-10 18:38] jeremyf commented on #1826
In working through the particular problem, we found that calling `update_index` after the `update!` was an adequate work around. This does add several more processes related to indexing onto that particular method.

[2017-10-10 18:49] shlake commented on #1755
@mjgiarlo No `pending` works show on my dashboard, which I think is a problem. I created a work using an Admin set with "one step" workflow and then it disappeared. I assume it was created successfully, but there is nothing in my Notifications that the work is waiting for approval. I have no idea where it went. So some notice on the dashboard would be good, as a more "permanent" place, since notif

[2017-10-10 18:55] jcoyne opened #1827 "Regression: representative not assigned automatically."
Introduced in https://github.com/samvera/hyrax/commit/747888b8e05b3ec91d7fb63d5635ffbef5facb4e

I'm pretty sure that this assignment in `AssignRepresentativeActor` was intended to be fixed before that commit was made:
`representative = nil`

https://github.com/samvera/hyrax/commit/747888b8e05b3ec91d7fb63d5635ffbef5facb4e#diff-99157061f8e5e4f6ace12696d7e95120R12

[2017-10-10 19:54] laritakr commented on #1826
I would say the concern is if we could be missing other places where nesting indexing could similarly override prior indexing because the indexing happened before the Fedora update.

[2017-10-10 22:31] mjgiarlo commented on #1755
@hannahfrost @vantuyls @ggeisler @jcoyne How do we feel about this issue? Should suppressed works appear on the dashboard, or are they missing by design? (I can't recall.)

@shlake There are no notifications in Nurax because of this: #1465 #1455 So I think we're good on issues around that. @vantuyls @julesies do you think this is a 2.0.0 blocker, or can we address in 2.0.1?

[2017-10-10 22:36] mjgiarlo commented on #1799
@vantuyls This is the ticket we agreed the action on was:

Right?

Interested in this one, @tdonohue or @jonathandixon?

[2017-10-10 22:53] jcoyne opened #1833 "NoMethodError: undefined method `representative_id='"

[2017-10-10 22:58] jcoyne opened #1834 "Implement new_record?"
It's same as `!persisted?`

[2017-10-10 23:01] jcoyne opened #1835 "Replace AF::Base.exists?(id)"
Put it in `Hyrax::Queries.exists?(id)` perhaps.

[2017-10-10 23:42] elrayle opened #1836 "Collections: BUG - Adding works to a collection from Dashboard->Works should forward to collection show"
### Descriptive summary

Adding works to a collection from Dashboard -> Works should forward to the collection show page when successful.

There was a refactor to have the edit form for collections stay on edit when Save is clicked.  The Save click is processed by collection post route which calls Hyrax::Dashboard::CollectionsController update action.  This action is used by other parts of the UI

[2017-10-11 12:22] #1765 closed

[2017-10-11 12:54] elrayle commented on #1708
Answered in #1788.

[2017-10-11 12:54] #1708 closed

[2017-10-11 12:57] elrayle commented on #1785
@laritakr Good analysis.  Any thoughts on how to adjust the indexing so the save to Fedora and Solr happen in the correct order (i.e. Fedora first, and then Solr)?

[2017-10-11 13:32] elrayle opened #1840 "Collections: View and Deposit users should be able to see collection admin show page"
### Descriptive summary

Users should be able to view the collection admin page for collections where they have View or Deposit access.

Users can see all collections for which they have Manage, View, and Deposit access in Dashboard -> Collections -> Managed Collections.  When a collection title is clicked for View or Deposit access collections, they are forwarded to the home page with a permissio

[2017-10-11 13:48] elrayle opened #1841 "Collections: Show dialog if user clicks a button on admin show page they can't perform"
### Descriptive summary

Check abilities to determine whether an action button takes the action or shows a dialog explaining why the user can't take the action..

### Rationale

Educate the user when they can't perform an action.

### Expected behavior

**NOTE: Dialogs are the same here and on index page for Edit and Delete.  Create partials for the dialogs and share with #1508 and #1507.**

`Edit

[2017-10-11 14:09] elrayle opened #1843 "Collections: Only show New Collection button if a user can create a collection."
### Descriptive summary

On the collection index page, only show the New Collection button if a user can create a collection.

### Rationale

Show user a dialog if they can sometimes perform an action (e.g. can edit for some collections, but not others).  If they can never perform an action, then hide the action button (e.g. being able to add a new collection is either completely on or completely

[2017-10-11 14:11] elrayle opened #1844 "For major action buttons, should the UI hide, disable, or show dialog when user can't perform an action?"
### Descriptive summary

For major actions on a page, should the UI hide, disable, or show a dialog when the user can't perform the action.

### Rationale

Provide a consistent and intuitive UI/UX.

### Effected areas

Collection index
- New Collection button
  - [ ] hide
  - [ ] disable
  - [ ] dialog when clicked and the user can't create a collection

Considerations:
* For New collection, if a

[2017-10-11 14:28] jonathandixon commented on #1799
@mjgiarlo Sure, I can pick this up.

[2017-10-11 14:34] elrayle commented on #1836
Fixed by PR #1837.

[2017-10-11 14:34] #1836 closed

[2017-10-11 14:37] laritakr commented on #1785
I don't know ActiveFedora that well so I really can't offer much of a suggestion. It seems like the ideal would be to queue all of the objects to reindex, and do the indexing after the full transaction is completed, but I'm not sure how feasible that is. Any change seems like potentially a major refactor.

I created an issue to document the problem and open discussion on it.
https://github.com/sam

[2017-10-11 14:39] elrayle commented on #1374
Remaining Work:
* New/edit form should show the collection type in the title (e.g. New User Collection, Edit Exhibit: _Collection Title_)

[2017-10-11 14:46] elrayle opened #1846 "Collections: New/Edit form should include collection type in page title"
### Descriptive summary

New/Edit form should identify the collection type in the page header.

### Rationale

Provide additional information to user about what they are creating/editing.

### Expected behavior

New collection title should be: `Create New <collection_type.title>`  Ex. `New Exhibit`

Edit collection title should be: `Edit <collection_type.title>: <collection.title>`  Ex. `Edit User

[2017-10-11 14:48] elrayle commented on #1374
All requirements are met by various PRs related to the sub-issues identified in the issue description.  OR by the issues identified under remaining work.  Closing.

[2017-10-11 14:53] elrayle commented on #1717
I agree.  This does not seem to be a real issue.  Closing.

[2017-10-11 14:53] #1717 closed

[2017-10-11 15:21] #1801 closed

[2017-10-11 15:22] mjgiarlo commented on #1755
@vantuyls @julesies For the moment, I am removing this as a blocker and moving it to the 2.x series. Let me know if y'all think this is a bad call!

[2017-10-11 15:22] mjgiarlo commented on #1801
Thank you, @jonathandixon!

[2017-10-11 15:44] jcoyne opened #1849 "Replace search_with_conditions, with valkyrie queries"

[2017-10-11 16:23] ggeisler commented on #1844
@elrayle I agree with your leanings in each case. Generally, the dialog approach seems preferable because it's the only option of the three that helps the user understand why they cannot perform the action. However, as you suggest with the new collection button, if there is little chance of the user being confused by a missing action, then it makes more sense to simply not show it.

[2017-10-11 16:39] vantuyls commented on #1755
IMO if you are the depositor of the work, you should be able to see the work in your dashboard even if they are suppressed, pending approval, or otherwise 'inactive' in a workflow.

pushing this off to 2.0.1 is fine with me but i'm going to stick priority label on this for the 2.x series.

[2017-10-11 16:48] julesies opened #1850 "Upload from Google Drive is not working"
### Descriptive summary
Uploading from Cloud via Browse-Everything gem is not working for Google Drive:  See related ticket from @scherztc for description of issue https://github.com/samvera/browse-everything/issues/177

[2017-10-11 16:50] carrickr opened #1851 "Enabled Primary and Secondary Terms on change sets"
Current change_sets have no required terms, concepts of primary or secondary terms, etc.  They are valid by default.  This should be improved to offer better change_set support

Improve the spec for `GenericWorkChangeSet` as well since it should no longer be valid on instantiation  `GenericWork.new` without also being passed required fields.

[2017-10-11 16:51] julesies opened #1852 "Upload from dropbox is not working"
### Descriptive summary

Upload from cloud via Dropbox is not working due to dropbox dropping support for the APIv1.

See ticket from @awead for description https://github.com/samvera/browse-everything/issues/159

[2017-10-11 16:58] mjgiarlo commented on #1755
@vantuyls OK!

[2017-10-11 18:54] elrayle commented on #1785
Fixed by PR #1781

[2017-10-11 18:54] #1785 closed

[2017-10-11 18:55] elrayle commented on #1775
Fixed by PR #1781

[2017-10-11 18:55] #1775 closed

[2017-10-11 19:00] #1799 closed

[2017-10-11 19:32] elrayle opened #1855 "Collection Types: New form save button should have label 'Save'"
### Descriptive summary

Collection type's new form should use the label 'Save' for the save button.

### Rationale

Use consistent labels for all save and cancel buttons.

### Expected behavior

Dashboard -> Settings -> Collection Types -> New collection type, the resulting form should have buttons `Save` and `Cancel`

### Actual behavior

Dashboard -> Settings -> Collection Types -> New collecti

[2017-10-11 19:33] elrayle commented on #1577
Remaining work:
#1855 Collection Types: New form save button should have label 'Save'

[2017-10-11 19:48] elrayle commented on #1577
All requirements are met by PR #1691 and the list of remaining work.

[2017-10-11 19:48] #1577 closed

[2017-10-11 20:13] elrayle commented on #1732
Fixed by PR #1734.

[2017-10-11 20:13] #1732 closed

[2017-10-11 21:46] #1724 closed

[2017-10-12 02:07] jcoyne opened #1859 "Solr error when saving"
[code]

[2017-10-12 10:32] elrayle commented on #1844
Related issues were updated to reflect the answer to this question.  Closing.

[2017-10-12 10:32] #1844 closed

[2017-10-12 13:29] elrayle commented on #1855
Fixed by PR #1858

[2017-10-12 13:29] #1855 closed

[2017-10-12 14:36] #1814 closed

[2017-10-12 18:08] julesies opened #1875 "Clicking "Review Submissions" in Dashboard throws error in a system with many Admin Sets"
### Descriptive summary
Moved from https://github.com/curationexperts/nurax/issues/109
Clicking "Review Submissions" in Dashboard throws error
Reported by @mjgiarlo
broken link: https://nurax.curationexperts.com/admin/workflows?locale=en

Error: `FATAL -- ActionView::Template::Error (RSolr::Error::Http - 414 Request-URI Too Long`

URI: `URI: http://127.0.0.1:8983/solr/nurax/select?wt=json&rows=100

[2017-10-12 20:29] jcoyne opened #1879 "Stop using Hydra::Works::UploadFileToFileSet"

[2017-10-12 21:22] #1875 closed

[2017-10-12 23:23] elrayle opened #1882 "Collections: BUG - missing permission_update_notices.participants translation"
### Descriptive summary

Error flashes when adding a participant...  `translation missing: en.hyrax.dashboard.collections.form.permission_update_notices.participants`

### Expected behavior

When a participant is added, the flash message should be... `The collection's sharing options have been updated.`

### Actual behavior

When a participant is added, the flash message get a translation missing

[2017-10-12 23:53] elrayle opened #1883 "Collections: Do not include Collection model in Type filter"
### Descriptive summary

The Type filter should include collection types only.  It should not include Collection model.  The label on the filter should be 'Collection type' instead of just 'type'.

### Expected behavior

The type filter list should...
- [x] be labeled 'Collection type'
- [x] it should include a list of all collection types
- [x] should not include the model Collection

When you se

[2017-10-12 23:55] elrayle commented on #1511
Remaining Work:
#1883 Collections: Do not include Collection model in Type filter

[2017-10-13 01:10] elrayle opened #1884 "Collection: BUG - Discovery values not saved unless Save is clicked twice"
### Descriptive summary

The change in nested indexing in PR #1736 causes discovery values to not be saved unless Save is clicked twice.

### Expected behavior

Changing visibility on Discovery tab of collection edit form, followed by clicking the Save button, should immediately update the solr doc with the new visibility value.

NOTE: If you revert the following changes, the bug goes away.

<img

[2017-10-13 01:29] elrayle commented on #1511
All requirements are completed by PR #1883 or the issues for remaining work.  Closing.

[2017-10-13 01:29] #1511 closed

[2017-10-13 12:50] elrayle opened #1885 "Collections Type: Add processing for button on index delete dialog to allow user to see all collections of this type"
### Descriptive summary

Add a button to the collections type index page that allows the user to see all collections of a particular type.

### Rationale

This is especially useful when attempting to delete a collection type and it is denied because collections of this type exist.

### Expected behavior

When a user tries to delete a collection type where collections of that type exist, they are s

[2017-10-13 12:58] elrayle commented on #1698
Several methods were added that return collection/admin set ids.  I believe this fulfills the dependency.  Let me know if you need something else.

To get ids (for collections) based on access, you can execute the following...

[code]

[2017-10-13 14:15] elrayle opened #1886 "Works: Bulk add to collection should show collections where user is a depositor"
### Descriptive summary

Bulk add to collection should show collections where user is a depositor.

### Rationale

Users with manage and deposit access can add works to a collection.

### Expected behavior

Dashboard -> Works -> select multiple -> Add to collection, shows select collection modal with all collections in which the user can deposit even when the user is only a depositor.

### Actual

[2017-10-13 14:21] elrayle commented on #1813
All requirements met by PR #1881.  Closing.

[2017-10-13 14:21] #1813 closed

[2017-10-13 15:31] carrickr opened #1888 "Remove Apply Order Actor from the stack"
No longer needed due to Valkyrie tracking order, remove from stack and middleware layer calls

[2017-10-13 16:48] cjcolvar opened #1890 "Make Hyrax::Queries pass the QueryService shared specs"

[2017-10-17 13:55] elrayle commented on #1640
Fixed  by PR #1774

[2017-10-17 13:55] #1640 closed

[2017-10-17 14:59] laritakr commented on #1719
@elrayle I have some concerns about this design. Something just feels wrong about it. We are mixing the editing of an object with the creation and removal of its relationships to other objects.

This concern is the same type of situation that I mentioned in my document on PR 1894 (where the list of works really shouldn't be there), except with collections rather than works. This goes far beyond th

[2017-10-17 15:58] jeremyf commented on #1719
As @laritakr was explaining this, it sounds like the edit controller action is already assuming multiple responsibilities; I'm hesitant to overload that action even more with switching logic based on the tab.

I believe it highlights that we should look at extracting a controller that deals with permissions, one that deals with relationships, etc. This would assist in breaking apart responsibiliti

[2017-10-17 17:24] aaron-collier opened #1901 "fcrepo runs on 8080 config still on 8984"
### Descriptive summary

Spinning up a fresh hyrax application for local development and running `fcrepo` starts on port 8080:

[code]

However, the development configuration still points at 8984:

[code]

### Expected behavior

The config should point at the correct port for the development instance of both solr and fedora.

[2017-10-17 17:36] elrayle opened #1902 "Collections: refactor permissions services to take id as parameter whenever possible"
### Descriptive summary

Update Hyrax::Collections::PermissionsService to use collection id as the parameter instead of collection instance whenever possible.

### Rationale

Avoid having to create an instance of collection when later the only thing we use is the id.  The id can come from the solr doc which is more efficient.

### Implementation

app/services/collections/permissions_service.rb

-

[2017-10-17 17:44] elrayle opened #1903 "Collections: Dashboard -> Collections list should not instantiate a collection for each one in the list"
### Descriptive summary

Make collections abilities have the option of only passing in the id or solr doc to avoid having to get the collection object from Fedora.

Targeted usage:  Dashboard -> Collections -> list of collections

This page currently creates an instance of collection to be able to check if the user can deposit in the collection.  Once permissions service is refactored to allow col

[2017-10-17 18:32] aaron-collier commented on #1901
This seems to have been an odd local problem as a reboot started fcrepo on the proper port.

[2017-10-17 18:32] #1901 closed

[2017-10-18 20:49] dependabot[bot] opened #1910 "Dependabot couldn't find a Gemfile.extra for this project"
Dependabot couldn't find a Gemfile.extra for this project.

Dependabot requires a Gemfile.extra to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/home/dependabot/dependabot-updater/spec/test_app_templates/Gemfile.extra`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://depend

[2017-10-18 21:04] greysteil commented on #1910
Hi, Grey from Dependabot here. Looks like something’s gone slightly wrong here - I’ll take a look.

[2017-10-18 23:38] #1910 closed

[2017-10-18 23:42] greysteil commented on #1910
Fixed - sorry about that one! 🎉

Please do let me know if Dependabot is ever short of perfect - we're always looking to improve it.

[2017-10-19 01:29] elrayle commented on #1902
It was not reasonable to have abilities check directly on the id.  To do that requires...
[code]
String matches too many times and too generally.

Instead, changed to check solr doc instead.  We can get the id from the solr doc.
[code]

[2017-10-19 01:29] elrayle commented on #1902
All requirements met by PR #1904

[2017-10-19 01:29] #1902 closed

[2017-10-19 01:31] elrayle commented on #1903
It was not reasonable to have abilities check directly on the id.  To do that requires...
[code]
String matches too many times and too generally.

Instead, changed to check solr doc instead.  We can get the id from the solr doc.
[code]

[2017-10-19 01:54] elrayle commented on #1707
Remaining Work:
* list of available_parent_collections should include collections with deposit access
* based on the current definition of available_child_collections, only read access is required, which implies that for nestable collections, add_to_collection should always be an available action

[2017-10-19 02:07] elrayle commented on #1718
Requirements met by PR #1812

[2017-10-19 02:07] #1718 closed

[2017-10-19 02:25] elrayle opened #1914 "Collections: available_parent_collections should include collections with deposit access"
### Descriptive summary

Nesting query method available_parent_collections should include collections with manage (edit) and deposit access.  Currently, it queries solr for collections with edit access.

### Rationale

Users with deposit and manage access can add items to a collection.

### Expected behavior

available_parent_collections should return valid nestable collections including those wit

[2017-10-19 02:34] elrayle opened #1915 "Collections: allow add_to_collection for collections with read access"
### Descriptive summary

With the definition of nesting only requiring read access for the child, the user should not get a permissions error when selecting Add to collection for a read only collection.  Instead, they should be shown the select parent collection modal.

### Rationale

Nesting is defined as user must have edit access for the parent and read access for the child.

### Expected behav

[2017-10-19 02:38] elrayle commented on #1707
All requirements are met by PR #1812 or the remaining work issues.  Closing.

[2017-10-19 02:38] #1707 closed

[2017-10-19 02:40] elrayle commented on #1903
Partial fix by PR #1904 to update abilities.
Partial fix by PR #1812 for updates to collection action menu.

The two PRs meet all the requirements of this issue.

[2017-10-19 02:40] #1903 closed

[2017-10-19 02:44] elrayle commented on #1884
This particular failure of the indexing process is fixed by PR #1899.  We need to explore more to understand how indexing is happening, what kicks it off, and how we can have confidence that all scenarios are properly covered.

[2017-10-19 02:44] #1884 closed

[2017-10-19 14:56] elrayle opened #1918 "Collection Types: add javascript tests for collection_types.es6"
### Descriptive summary

hyrax/collection_types.es6 needs javascript tests

Tests should be created in `spec/javascripts/collection_types_spec.js` (js.coffee) as needed.

See [Hyrax Development Guide](https://github.com/samvera/hyrax/wiki/Hyrax-Development-Guide#run-tests) for more info on javascript testing with the jasmine server.

[2017-10-19 17:24] elrayle commented on #1885
Remaining work:
#1918 javascript tests

[2017-10-19 17:24] elrayle commented on #1885
All requirements of this issue are met by PR #1905 or the remaining work issues.  Closing.

[2017-10-19 17:24] #1885 closed

[2017-10-19 18:29] elrayle commented on #1695
The requirements of this issue are met by PR #1812.  See Hyrax::CollectionTypes.any_nestable? check before adding `Add to collection` to the action menu.  Closing.

[2017-10-19 18:29] #1695 closed

[2017-10-20 00:58] elrayle commented on #1846
All requirements met by PR #1906.  Closing.

[2017-10-20 00:58] #1846 closed

[2017-10-20 01:23] elrayle commented on #1699
Remaining Work:
* when clicking Refresh, forwards to public landing page instead of staying on admin show page
* Parent collection(s) are not shown under title (see mockup)

[2017-10-20 14:19] laritakr commented on #1699
A few comments on remaining work you listed above:

I'm still concerned about this on the mockup. This is fine if there is only one, but the mockup shows the parent collections in the description area, and if there is a list rather than just one, I believe that wouldn't really work. My preference would be a modal link there to either the parent if there is only one, or to a list of parent collecti

[2017-10-20 15:36] mjgiarlo commented on #1910
Thx, @greysteil.

[2017-10-20 19:43] elrayle commented on #1191
Where are we on this issue?  I'm asking because we still keep stumbling across this in the collections-sprint branch.  We've added turbolinks: false in a number of places, but it would be good to have a general solution.

[2017-10-20 20:29] mjgiarlo commented on #1191
@elrayle Where we are:

1. @jcoyne's last comment may provide a clue as to what's causing the root behavior
2. Until someone looks into the prior point or finds another fix, we've been disabling turbolinks on inbound links. See these two PRs, which you will want to apply to other, similar links in the `collections-sprint` branch: https://github.com/samvera/hyrax/pull/1605/files and https://github.

[2017-10-23 16:59] carrickr opened #1923 "Fix apply_pemission_template_actor_spec.rb"
Get all the tests green

[2017-10-23 18:29] #1879 closed

[2017-10-23 18:33] #1834 closed

[2017-10-23 18:34] #1890 closed

[2017-10-23 18:51] mtribone opened #1925 "Language Dropdown in Header Doesn't Show Focus"
### Descriptive summary

In Hyrax 2.0.0 rc1, using Nurax, the dropdown to select a language in the header doesn't show focus when tabbing through the interface.

### Rationale

Showing focus when tabbing to actionable elements in the user interface allows the keyboard user to understand that an element can be interacted with and execute actionable items.

https://webaim.org/techniques/keyboard/#pr

[2017-10-23 19:12] mtribone commented on #1925
![focus mov](https://user-images.githubusercontent.com/4163828/31908352-885a0824-b804-11e7-9f80-63b9ee8c48a5.gif)

[2017-10-23 20:29] carrickr opened #1927 "Reimplement can_edit_both_works?"
With the ApplyOrderActor removed, `can_edit_both_works?` is no longer supported in Hyrax.  Requires reimplementation  on a change_set, see here for current function:

https://github.com/samvera/hyrax/blob/master/app/actors/hyrax/actors/apply_order_actor.rb#L15

This is perhaps part of a larger issue surrounding validation in `.save` for the change_set_persister

[2017-10-23 21:00] carrickr opened #1930 "Fix Attach Members Actors Spec"
Get the tests green

[2017-10-23 21:14] carrickr opened #1932 "Remove File Set Actor and Replicate Functionality"
- [x] Remove the Actor
- [x] Implement a function for a resource that deletes all members and then itself

[2017-10-24 20:54] jcoyne commented on #1859
This went away.

[2017-10-24 20:54] #1859 closed

[2017-10-24 20:55] jcoyne opened #1947 "Wire FileAppender into ChangeSetPersister"
https://github.com/samvera-labs/valkyrie/blob/dfcf1959b8399441a612d826b29cd1b44da10702/app/change_set_persisters/change_set_persister.rb#L50

Perhaps we want a WorkChangeSetPersister that has this behavior (collections and admin sets don't have files).

[2017-10-24 21:49] carrickr opened #1951 "Create Query to find all members in the tree of a resource"
This can be used as a starting point

https://github.com/samvera/hyrax/blob/306ffbd91c1bd9c063e21cad7f1d64821d8774bc/app/change_set_persisters/hyrax/change_set_persister.rb#L57-L66

Create a query that when given a resource returns an array of Valkyrie::IDs that are members of that resource (or members of members, members of those members, etc).

Also consider this for root Valkyrie ( @tpendragon

[2017-10-25 09:50] geekscruff commented on #1800
I've done some work on 'based_near'.

Adding customer indexers is documented in https://github.com/samvera-labs/valkyrie/wiki/Custom-Indexing

[2017-10-25 16:03] blancoj commented on #1843
@elrayle this seems to already be working.  This is the code that handles it.
https://github.com/samvera/hyrax/blob/collections-sprint/app/views/hyrax/my/collections/index.html.erb#L20

it does:  `if can? :create, Collection`
AND not what is suggested in the issue:
`if can? :create_any, Collection`

But still works.

[2017-10-25 16:06] blancoj commented on #1843
Did not mean to close issue, just to add a comment.

[2017-10-25 17:54] mtribone opened #1960 "Linked Icons on Dashboard for Trash and Remove Do Not Contain Text"
### Descriptive summary

In Hyrax 2.0.0 rc1 and on the dashboard, the icons for deleting notifications and removing proxies do not contain any text. Although there are title attributes, they aren't read consistently by assistive technology.

### Rationale

If a link doesn't contain text, the function or purpose of the link will not be presented to the user. This can introduce confusion for keyboar

[2017-10-25 18:04] mtribone opened #1961 "Skipped Heading Hierarchy on Dashboard"
### Descriptive summary

In Hyrax 2.0.0 rc1 on the dashboard, the heading hierarchy is out of order and skips heading level.

### Rationale

Headings provide document structure and facilitate keyboard navigation by users of assistive technology. These users may be confused or experience difficulty navigating when heading levels are skipped. Heading levels should be selected based on content not vi

[2017-10-25 18:19] mtribone opened #1962 "Text Contrast Errors for Foreground and Background Colors"
### Descriptive summary

In Hyrax 2.0.0 rc1 and on the dashboard, there are several text contrast errors for the foreground and background colors.

### Rationale

Adequate contrast is necessary for all users, especially users with low vision or forms of color blindness.

### Expected behavior

Expected at least AA Compliance of all text colors.
https://webaim.org/standards/wcag/checklist#sc1.4.3

[2017-10-26 02:31] elrayle opened #1968 "Collections: Delete admin set should forward to my collections"
### Descriptive summary

When the user executes delete admin set from collection index action menu, should forward to Dashboard -> Collections -> Your Collections when delete completes.

### Rationale

The delete action is initiated from Dashboard -> Collections and should remain there once completed.

### Expected behavior

Dashboard -> Collections -> for any admin set -> action menu: Delete shou

[2017-10-26 03:07] elrayle opened #1972 "Collections: admin sets action menu should match collections action menu"
### Descriptive summary

The action menu displayed for admin sets on Dashboard -> Collections should use the same labels as for collections

### Rationale

Admin menus should mimic being just another type of collection.

### Expected behavior

Dashboard -> Collections -> for any admin set -> action menu should have labels and always show...
- [x] View collection
- [x] Edit collection
- [x] Delete

[2017-10-26 03:11] elrayle commented on #1507
Remaining Work:
#1968 Collections: Delete admin set should forward to my collections
#1972 Collections: admin sets action menu should match collections action menu

[2017-10-26 14:38] elrayle commented on #1882
Fixed by #1900.  Closing.

[2017-10-26 14:38] #1882 closed

[2017-10-26 20:13] #1455 closed

[2017-10-26 20:54] mjgiarlo commented on #1742
This only fixed the behavior for administrative users. Reopening.

[2017-10-26 20:54] mjgiarlo commented on #1742
Refs curationexperts/nurax#96

[2017-10-27 15:21] carrickr opened #1994 "Replace DefaultAdminSetActor with hooks in work_change_set_persister"
- [ ] When a work (use `resource.work?`) is updated or created, run a hook to apply an admin_set (use default_admin_set as a fallback)
- [ ] Ensure whatever admin_set gets applied has a permissions template

[2017-10-27 16:58] elrayle commented on #1742
### Hyrax 1.0 - 2.0.0.rc1

In Hyrax 2.0, you cannot see collections you did not create through Dashboard -> Collections -> Your Collections.  I am fairly certain that has been the case for all releases (alpha - beta - rc) of Hyrax.  In Sufia, you could see collections shared with you on the 'Shared with me' tab.

In your steps to reproduce, you reference the All Collections tab.  That tab is only

[2017-10-27 16:58] elrayle commented on #1742
FYI... works have the same issue where there is no way to see works shared with you through Dashboard -> Works

FYI... There were previous discussions about incorporating Managed Collections and Managed Works into Hyrax 2.0 branch, but the consensus at the time was not to include it as it was too much new work and we were very close to a 2.0 release.  This will be fixed in 2.1 when collections-spr

[2017-10-27 17:56] carrickr commented on #1994
Once #1952 is merged we can add it as a before_save hook

[2017-10-27 18:58] #1742 closed

[2017-10-27 19:21] laritakr commented on #1699
### Checklist of remaining work:
- [ ] when clicking Refresh, forwards to public landing page instead of staying on admin show page
- [ ] when searching, forwards to public landing page instead of staying on admin show page
- [ ] parent collection(s) are not shown under title (see mockup)
- [ ] parent collections list needs to be able to paginate
- [ ] sub-collections list needs to be able to pagi

[2017-10-27 21:30] vantuyls opened #2004 "Viewer Access to Admin Set"
Descriptive summary

Viewers currently have no access to admin sets for which they have been designated a Viewer Role. Here's what seems to be missing:

Notification that they have been added as a Viewer to an Admin Set
Ability to see the Admin Set in the Administrative Sets (/admin/admin_sets) panel
Ability to see pending Works in the Admin Set from the Review Submissions (/admin/workflows) panel

[2017-10-27 21:32] vantuyls opened #2005 "Make manager/depositor/viewer permissions more clear"
It's very unclear that a manager, depositor, viewer can only see those works that are deposited after they gain permissions to the admin set. I think we need to add language in this screen to make it clear. This has been a surprise to many testers, so I thought I'd write this up as a minimal thing to do before a larger effort happens.

Suggest something like this:
Individuals granted permission be

[2017-10-27 21:34] vantuyls opened #2006 "Can't Add Folder on Add or Edit Work on Safari (Mac)"
Descriptive summary

Using Safari on Mac, the "Add folder" button, does not allow me to "upload" a folder. Chrome & Firefox on Mac does show the "Upload" option when "add folder" is selected.

Rationale

Adding folder is expected to behave in all browsers. Plus there is a button to "Add folder..." and it doesn't allow uploading of folders (using Safari).

Expected behavior

In Chrome & Firefox, th

[2017-10-27 21:36] vantuyls opened #2007 "Make release/vis language more clear"
Descriptive summary

This ticket started as trying to understand why leases were not working, but has been modified to suggest the language of that screen make more clear the impact on the depositor as well as what settings allow lease and private setting.

These two settings, prohibit the depositor from selecting a lease.

Do not allow leases:
screen shot 2017-10-18 at 2 00 15 pm
screen shot 2017

[2017-10-27 21:39] vantuyls opened #2008 "Adding a thumbnail to a collection does not change the thumbnail in search results"
Descriptive summary

The new thumbnail for the collection appears on the collection show page but does not appear in the search results, the default icon still shows.

Expected behavior

Changing the collection thumbnail should affect both the show page and the search results

Actual behavior

Only the show page is affected.

Steps to reproduce the behavior

Add a thumbnail to a collection after t

[2017-10-27 21:41] vantuyls opened #2009 "As a user I expect to be able to set the thumbnail for a work from the file manager"
Expected behavior

I would expect changing the representative media in the file manager to change the item's thumbnail or to give me the option to also change the thumbnail.

Actual behavior

I can select a representative file in the file manager but this does not change the thumbnail. The option to change the thumbnail is buried 'additional fields' on the metadata edit screen.

**more comments at

[2017-10-27 21:42] vantuyls opened #2010 "As a user I expect to be able to set the thumbnail for a work from the file manager"
Expected behavior

I would expect changing the representative media in the file manager to change the item's thumbnail or to give me the option to also change the thumbnail.

Actual behavior

I can select a representative file in the file manager but this does not change the thumbnail. The option to change the thumbnail is buried 'additional fields' on the metadata edit screen.

**More comments at

[2017-10-27 21:43] vantuyls opened #2011 "Based Near is missing its facet and field labels"
Descriptive summary

"Based Near" location facet is getting the default humanization for its label.

screen shot 2017-10-13 at 10 45 15 am 2

**more comments at:**
https://github.com/curationexperts/nurax/issues/111

[2017-10-27 21:45] vantuyls opened #2012 "Conflicting information about presence of files when a work is created"
Descriptive summary

After creating a work, the top of the screen says files are being processed but the bottom of the screen says the work has no files. If you then edit the work to see what's happening, no files are listed on the files tab (because they are still being processed?)

Rationale

Things don't stay in this state for long but it is very jarring when it happens.

Expected behavior

Acc

[2017-10-27 21:45] vantuyls commented on #2012
@awead is this something you'd be willing to look at?

[2017-10-28 12:30] jcoyne commented on #2006
This it's likely something that hasn't been implemented (yet?) in Safari.

[2017-10-28 12:44] jcoyne commented on #2006
It looks like it's not a feature in Safari 11, but it is in the "Technology Preview" build: http://caniuse.com/#feat=input-file-directory

[2017-10-28 12:45] jcoyne commented on #2006
Broken by #1735 ?

[2017-10-28 12:46] jcoyne commented on #2005
/cc @ggeisler @hannahfrost

[2017-10-28 13:02] jcoyne commented on #2010
You should  be able to set both the thumbnail and representative in the file manager.  Can you add a screenshot of what you see?

https://github.com/samvera/hyrax/blob/master/app/views/hyrax/base/_file_manager_member_resource_options.html.erb#L3

[2017-10-29 13:12] jcoyne commented on #2011
@vantuyls I don't think the screenshot attached as you wanted.

[2017-10-29 17:33] vantuyls commented on #2011
@jcoyne thanks for grabbing that.

see the additional information at the linked comment in the OP.

[2017-10-29 21:39] no-reply opened #2018 "`Hyrax::RightsStatementService` errors on unexpected values"
### Descriptive summary

On current master (beginning at cf947a5c9f4c3ed1ad91c431fc6), unexpected values in a `rights_statement` field cause `KeyError Exception: key not found: "term"`. This makes any item containing an unexpected value unrenderable, breaking views that try to render them.

This probably extends to other authorities, but I have not tested others.

### Rationale

The error handling

[2017-10-30 01:19] no-reply opened #2019 "Field configuration in `BasicMetadataIndexer` cannot be extended in subclasses"
### Descriptive summary

The [`BasicMetadataIndexer` defines several `class_attributes`](https://github.com/samvera/hyrax/blob/55ce354a372e97b3eb168927d1b84eddcaac3bff/app/indexers/hyrax/basic_metadata_indexer.rb#L4) which are inherited in subclasses, including `DeepIndexingService`. The values in these variables can't be extended in subclasses without overwriting the values in the base class and

[2017-10-30 13:33] jcoyne commented on #2010
Is this a dup of #2019

[2017-10-30 13:35] jcoyne commented on #2009
I see a radio button for the thumbnail and the representative:

![Uploading Screen Shot 2017-10-30 at 8.33.04 AM.png…]()

These fields should be independent of one another.

[2017-10-30 13:40] jcoyne commented on #2019
Instead of using the shift operator try using `+=` Otherwise you're modifying the original.

[2017-10-30 13:47] starsplatter commented on #2010
This looks like a dupe of the issue to me. I originally reported this. Looking now I am not sure if things changed or if I just misunderstood the UI. I think changing the radio buttons to check boxes would make it clearer that thumbnail and rep media are independent of each other but I think this can get closed with a resolution of 'user confusion'. :)

[2017-10-30 15:33] carrickr opened #2022 "Forms Should Not Use change_set.admin_set_id"
Forms currently use `change_set.admin_set_id` to determine the default value for forms.  Change_set.admin_set_id though should only have a value of the change_set's changes involve moving between admin_sets.  We need a method to determine the first admin_set that a given user has access to and use that to populate the dropdown.

[2017-10-30 15:50] no-reply commented on #2019
@jcoyne In the current implementation `#+=` is a no-op. `stored_and_facetable_fields` is a class attribute that must be altered to make any change.

[2017-10-30 16:25] hannahfrost opened #2025 "On Add/Edit Work page, make changes to Files tab"
### Descriptive summary

Updates to Files tab to address these conditions: 1) works are not always required to have files, and 2) an implementor might not have browse-everything enabled. The changes include clarifying text and buttons. Specifically, if browse-everything is not enabled, then there is less text and one fewer button to display.

### Rationale

These changes provide clarity to the use

[2017-10-30 16:26] hannahfrost commented on #1218
@mjgiarlo I'm starting to decompose this ticket.

Files tab changes is now covered by https://github.com/samvera/hyrax/issues/2025

[2017-10-30 16:30] hannahfrost opened #2026 "Remove icons on tabs of Add/Edit Work page"
### Descriptive summary

Remove icons from tabs on the Add/Edit Work page.

### Rationale

There is an abundance of icons throughout Hyrax’s UI, but it is not consistently applied. For the tabs on the Add/Edit Work page, the existing icons add visual clutter more than anything else and are inconsistent with other tabs in Hyrax that don't use an icon.

### Expected behavior

After the tabs are remo

[2017-10-30 16:32] hannahfrost commented on #2026
Decomposed from https://github.com/samvera/hyrax/issues/1218

[2017-10-30 16:32] hannahfrost commented on #2025
Decomposed from https://github.com/samvera/hyrax/issues/1218

[2017-10-30 16:43] hannahfrost opened #2028 "On Add/Edit Work page, remove a line of text on the Descriptions tab"
### Descriptive summary

Remove this line of text above the Title heading: "The more descriptive information you provide the better we can serve your needs."

### Rationale

Instructional messaging to the user regarding amount of description to be entered is best left to the implementors.

### Expected behavior

On "Add New Work" page, Descriptions tab, there will be one line of text above Title,

[2017-10-30 16:43] hannahfrost commented on #2028
Decomposed from https://github.com/samvera/hyrax/issues/1218

[2017-10-30 16:51] hannahfrost opened #2030 "On Add/Edit Work page, changes to Share tab"
### Descriptive summary

Rename tab from “Share” to “Sharing” and reorganize the sections and form elements on this tab.

### Rationale

These changes make this feature more concise and more consistent with similar features elsewhere in the application.

### Expected behavior

1. Rename tab from “Share” to “Sharing” so that it is more consistent.

2. Rearrange the form elements to more closely mat

[2017-10-30 16:51] hannahfrost commented on #2030
Decomposed from https://github.com/samvera/hyrax/issues/1218

[2017-10-30 17:01] no-reply commented on #2019
Sorry, I think this is just me working too late on a sunday.

[2017-10-30 17:01] #2019 closed

[2017-10-30 17:40] hannahfrost opened #2034 "On Add/Edit Work page, various updates to Relationships tab"
### Descriptive summary

A set of changes to the Relationships tab, including renaming labels and headers, adding confirmation modals, and filling out some of the functionality.

### Rationale

These changes collectively make the information and interactions on this tab more clear, concise and consistent with other similar features in Hyrax.

### Expected behavior

- [ ] Rename the label for the a

[2017-10-30 17:41] hannahfrost commented on #2034
Decomposed from https://github.com/samvera/hyrax/issues/1218

[2017-10-30 18:21] #1960 closed

[2017-10-30 19:27] elrayle commented on #2004
I saw this as well in collections-extensions and was unclear if the inability to view the admin-set was intentional.  What does happen with the viewer role is that when a work is created, the admin-set viewers are given `read-access` to the new work.

@jcoyne @mjgiarlo What is the intended behavior for Viewers of admin-sets?  Can you check which of these you expect to apply.
- [ ] Viewer is assign

[2017-10-30 19:27] elrayle commented on #2004
Copied comment by @laritakr from nurax issue https://github.com/curationexperts/nurax/issues/121

My memory of the purpose of the viewer role (based on discussion last fall) was that the Viewer would receive read access to any works created in the admin set after the point in time where they were added as viewer. There was no implied access to the admin set itself at that time, and no retroactive

[2017-10-30 19:28] elrayle commented on #2004
I am working on the documentation for the impact of adding/removing participants for collection types, collections, and admin sets. This should include information on what happens with the workflows, but I don't have that knowledge yet. I'm working with @laritakr to understand the impact. If others have feedback that would also be good to hear.
http://elr37-dev.library.cornell.edu/samvera_docs/col

[2017-10-30 20:42] jcoyne opened #2046 "[Valkyrie] Persist embargo and lease"
What models should we use for Embargo and leases?  New models?

[2017-10-30 20:43] jcoyne opened #2047 "[Valkyrie] ChangeSet should validate accept_agreement is checked"

[2017-10-30 20:44] jcoyne opened #2048 "[Valkyrie] figure out how to make an etag"
And validate using optimistic locking.

[2017-10-30 21:35] hannahfrost opened #2050 "Update and reorganize contents of Works show page"
### Descriptive summary

Update the Works show page to align it with the overall current look-and-feel of Hyrax pages, to present the information is a slightly more compact form and to add a few additional metadata values to provide users with more basic information about the work.

Suggest this be implemented before #1033.

### Details

At the top of the page (below the breadcrumbs), a header is

[2017-10-30 21:45] julesies commented on #2004
@elrayle are you saying, that we need to test "removing a manager should remove access"? I can have someone do that for roles tomorrow or by Wednesday.

[2017-10-30 23:33] ggeisler commented on #2005
I think this is always going to be confusing because the behavior (only seeing works deposited after your role is granted) is very unintuitive. Assuming there is a good technical reason why we can't fix that behavior (or some good reason for the behavior that I don't understand), I agree adding some explanatory text could at least mitigate the confusion a bit.

I assume the "screen" in question is

[2017-10-31 00:10] elrayle commented on #2004
I think there is a lack of documentation on the expected impact of participants on works in a workflow, and beyond that to what happens to works in a workflow when a participant is added/removed.  I'm not sure we can come up with a proper solution until we have consensus on what is expected.

[2017-10-31 00:29] jcoyne opened #2051 "[Valkyrie] Hyrax::Statistics::Collections::OverTime#point calls Collection.where"
Replace this with a custom query.

[2017-10-31 13:19] cjcolvar opened #2053 "Make FileSetController use ResourceController"
This might be helpful: https://github.com/samvera/hyrax/pull/1777/commits/954e6059cf036e772cab8a80ff6c8c875a9da84c

[2017-10-31 17:34] #2011 closed

[2017-10-31 19:08] mjgiarlo commented on #1962
@mtribone Can you suggest colors for these changes?

[2017-10-31 20:47] #2007 closed

[2017-11-01 01:57] #2005 closed

[2017-11-01 02:25] elrayle commented on #1507
All requirements met by PR #1908 or remaining work issues.  Closing.

[2017-11-01 02:25] #1507 closed

[2017-11-01 02:35] elrayle commented on #1972
Remaining work:
* Edit forwards to show page instead of edit form
#1968 Collections: Delete admin set should forward to my collections

[2017-11-01 02:44] elrayle opened #2069 "BUG Collections: clicking `Edit collection` in the action menu for an admin set should forward to edit form"
### Descriptive summary

When a user clicks `Edit collection` in the action menu for an admin set, it should forward to the edit form for the admin set.  Right now, it forwards to the show page.

### Expected behavior

Dashboard -> Collections -> beside an admin set -> click action menu Edit collection

Should forward to admin set edit form:  `http://localhost:3000/admin/admin_sets/:id/edit`

###

[2017-11-01 02:45] elrayle commented on #1508
All requirements are met by PR #1908 or the remaining work issues.  Closing

[2017-11-01 02:45] #1508 closed

[2017-11-01 02:48] elrayle commented on #1972
All requirements are met by PR #1908 or the remaining work issues.

[2017-11-01 02:48] #1972 closed

[2017-11-01 02:57] elrayle commented on #1678
Mockup with nesting...

![image](https://user-images.githubusercontent.com/6855473/32258064-dae318de-be8e-11e7-89f8-3b223be43e47.png)

[2017-11-01 03:14] elrayle opened #2071 "Collections: Bread crumbs for admin set show page should use collections links"
### Descriptive summary

Change bread crumbs for admin set show page to match those for collection show page.

### Rationale

Admin sets are simulating being just another collection, so the bread crumbs should look like the admin set is just another collection.

### Expected behavior

`admin/admin_sets/:id` breadcrumbs should be...
* My Dashboard - forward to `dashboard`
* Your Collections - forwa

[2017-11-01 03:19] elrayle commented on #1473
This was partially fixed in PR #1745 Add counts to search results.

[2017-11-01 13:30] elrayle opened #2073 "Collections: BUG - branding files are removed when works are added"
### Descriptive summary

When adding works to a collection, branding files are removed.

### Rationale

Branding files should be unaffected by adding works.

### Expected behavior

Branding files uploaded prior to adding works should continue to exist after adding works.

### Actual behavior

Branding files uploaded prior to adding works are removed from the collections after adding works.

### St

[2017-11-01 15:03] julesies opened #2075 "Legend Missing from Fieldset for Number Per Page on Dashboard Works"
Moved from https://github.com/curationexperts/nurax/issues/128
Originally reported by @mtribone
**Descriptive summary**

The dropdown to set the number of results per page on the works dashboard has a fieldset, but no legend for the fieldset. If a higher description of the functionality of the controls is not necessary, then the fieldset should be removed.

Suggested text: In ScholarSphere we use

[2017-11-01 15:08] julesies opened #2076 "Contrast Errors - Create New Generic Work"
Originally reported in https://github.com/curationexperts/nurax/issues/127 by @mtribone

**Descriptive summary**

When creating a new generic work and checking the contrast errors of the form using the WAVE accessibility toolbar, there are several contrast errors for things like hyperlinks and visibility badges/labels. Text is present that has a contrast ratio less than 4.5:1, or large text (large

[2017-11-01 18:13] elrayle commented on #1673
Seems like the expected behavior on a larger scale is...

* cannot delete permission_template_accesses entry for access: 'manage', agent_type: 'group', agent_id: 'admin' through the edit form -> Participants/Sharing tab for admin sets or collections (the original intent of the code in 'Code impacting the expected behavior')
* can delete permission_template_accesses entry for access: 'deposit' or '

[2017-11-01 18:34] mtribone commented on #1962
The purple banner at the top will pass AA if we darken it a bit (#6b6bb6). The same goes for the foreground color of the breadcrumb text, pagination text of prveious/next, and search for a user or placeholder text in general (#686868).  The linked home and select works to transfer seem to be false positives and are good to go.

[2017-11-02 02:15] elrayle opened #2089 "BUG - Should not create duplicate participants for admin sets"
### Descriptive summary

You can add the same person or group twice with the same access level for an admin set.  This currently creates a second entry in the permission_template_accesses table, but it should not.

Applies to: master, Hyrax 2.0.0.rc2

### Rationale

Do not add duplicate data.

### Expected behavior

Adding a participant to an admin set with the same permission_template_id, agent_t

[2017-11-02 12:02] elrayle commented on #1843
Did you try using :create_any?  I'm not sure what rule is matching :create.

:create_any performs a check on whether the user is a creator for at least one collection type.
[code]

[2017-11-02 14:37] elrayle commented on #1191
I took another run at this but having no luck.

* I tried turning on/off each of these configs in all possible combinations.  When the errors occur, I can confirm that value of these settings.  But they seem to have no impact.

[code]

* From https://github.com/plataformatec/devise/pull/4033/files

I tried updating my_controller.rb with several options set on protect_from_forgery...

[code]
Presum

[2017-11-02 15:53] lfarrell opened #2094 "Color Constrast Errors - Homepage"
### Descriptive summary

 When checking for  contrast errors on the hyrax homepage using the WAVE accessibility toolbar, there are contrast errors for a number of links. Tagging @mtribone on this issue per @julesies

### Expected behavior
Expect sufficient contrast ratio for all text

### Actual behavior

![contrast](https://user-images.githubusercontent.com/436691/32335684-cbfbfdb4-bfc3-11e7-9711

[2017-11-02 16:01] #2075 closed

[2017-11-02 16:09] blancoj commented on #1843
@elrayle  I just tried it with :create_any?, and it worked, so I'll send a PR with this change.

[2017-11-02 17:01] elrayle commented on #1843
Fixed by PR #2095

[2017-11-02 17:01] #1843 closed

[2017-11-02 17:08] blancoj commented on #1841
@elrayle Isn't this taken care of by #1507 and #1508?

[2017-11-02 17:09] mtribone commented on #2094
This one is tricky because the text is over an element that has transparency which is over a background image. The test is grabbing the color from the masthead because that is the closest thing that has a background color set–which is wrong.

I've approximated the image with transparency and tested it using http://www.brandwood.com/a11y/ and it mostly, kinda passes. Once you change the browser wid

[2017-11-02 17:09] mtribone commented on #2094
![screen shot 2017-11-02 at 1 02 16 pm](https://user-images.githubusercontent.com/4163828/32339725-06ac8a5e-bfcf-11e7-8155-192880c87955.png)

[2017-11-02 17:36] julesies commented on #2094
@mtribone thanks! So for something like this, image which will be changed by any institution, is there anything to be done in hyrax?

[2017-11-02 17:44] mtribone commented on #2094
@julesies I recommend putting a solid color behind the links and leave the rest of it transparent to avoid the issue altogether. We could do that as a default, along with good defaults for banner colors, and it would be good for Hyrax. However, there is nothing that we can do about background images or foreground/background color if institutions make changes to defaults out o the box.

[2017-11-02 17:49] julesies commented on #2094
TY @mtribone! @vantuyls @mjgiarlo ☝️

[2017-11-02 18:01] mtribone commented on #2094
Kinda like the following by just switching the link background colors. Or we could add a span around the link and give it the background color with more of the transparency on the outside. Can get down right fancy if you wanna...

![screen shot 2017-11-02 at 1 58 58 pm](https://user-images.githubusercontent.com/4163828/32342180-09996f0a-bfd6-11e7-8a7a-b003ef454176.png)

[2017-11-02 20:14] mjgiarlo commented on #2094
@vantuyls @julesies 2.x series?

[2017-11-02 22:14] #2076 closed

[2017-11-03 20:00] elrayle commented on #2073
Fixed by PR #2100.  Closing

[2017-11-03 20:00] #2073 closed

[2017-11-03 20:54] vantuyls opened #2108 "Something Went Wrong when adding an existing or new work as a child work"
### Descriptive summary

when adding a child work to a work, we receive Something Went Wrong error page upon submit.

### Expected behavior

child work should be added to the work without error.

### Actual behavior

when adding a child work to a parent work and saving, Something Went Wrong.

### Steps to reproduce the behavior

1. Create two works (or have existing two works) in Hyrax rc2
2. Go t

[2017-11-03 20:55] mjgiarlo commented on #2108
Here is the traceback:

[code]

[2017-11-03 20:55] julesies commented on #2108
Just adding, when I reproduced this - I refreshed after seeing SWW and got the following error: Your changes could not be saved because another user (or background job) updated this Image after you began editing. Please make sure all file attachments have completed successfully and try again. This form has refreshed with the most recent saved copy of the Image.

[2017-11-03 21:00] mjgiarlo commented on #2108
Might you have interest and cycles in taking a gander at this, @jonathandixon?

[2017-11-03 21:06] jonathandixon commented on #2108
I can take a look first thing Monday if no one else takes it before then.

[2017-11-04 15:29] vantuyls opened #2110 "Enable configurable Browse Everything in Hyrax UI"
### Descriptive summary

Offer UI in Hyrax Configurations area of the Dashboard that gives options for configuration of cloud storage providers for Browse Everything. More details are discussed on issue: https://github.com/samvera-labs/hyku/issues/903

Screencaptures of design:

Here is a first-pass at a mockup of how we might provide UI-based configuration of BrowseEverything. I've no experience

[2017-11-04 15:30] vantuyls commented on #2110
@mjgiarlo @hannahfrost ☝️

[2017-11-04 16:27] elrayle commented on #1719
@jeremyf @laritakr I agree.  For now, lets...
* populate the tab with the existing parents and children
* NOT include a way to add parents and children from this tab

It will be expected that nesting of collections is managed through the index and show pages.

[2017-11-04 18:48] jcoyne commented on #2110
@vantuyls where should these secret application keys be persisted?  Is the database secure enough?

[2017-11-04 19:32] hannahfrost commented on #2110
Yay @vantuyls . Glad to see this ticket pulled over to this queue.

[2017-11-05 23:42] vantuyls commented on #2110
@jcoyne good question. do you or @mjgiarlo have thoughts?

[2017-11-06 03:04] mjgiarlo commented on #2110
@vantuyls @jcoyne Tech call agenda item?

[2017-11-06 17:03] jcoyne opened #2124 "Unused code in spec."
https://github.com/samvera/hyrax/blob/master/spec/views/hyrax/base/file_manager.html.erb_spec.rb#L25

[2017-11-06 18:09] jonathandixon commented on #2108
I'm thinking this may be a bug in ActiveFedora or ActiveTriples. Here is the simplified code of what produces the error:

[code]

[2017-11-06 21:08] jonathandixon commented on #2108
Hopefully this will be fixed by this PR: https://github.com/samvera/active_fedora/pull/1286

[2017-11-06 22:28] jcoyne opened #2126 "Theme is set to a layout, not a theme"
https://github.com/samvera/hyrax/pull/1866/files#diff-a726cb6c8d865da58ddb08a5f7b10fccR15

`hyrax` is a theme. but `hyrax/1_column` is a layout, and you should not be a valid theme.

[2017-11-08 14:07] elrayle opened #2133 "Collection Types: Admin Set type should not have discoverable? true"
### Descriptive summary

Collection type Admin Set should not have the Discovery setting turned on.

### Rationale

Admin Sets in Hyrax 2.0 and earlier are not discoverable.

### Expected behavior

Dashboard -> Settings -> Collection Types -> Admin Set -> Edit -> Settings -- Discovery should be unchecked

### Actual behavior

Dashboard -> Settings -> Collection Types -> Admin Set -> Edit -> Settin

[2017-11-08 19:52] no-reply commented on #2108
I think it would be great to get a regression test in for this, given that the eventual fix turns out to be somewhat awkward.

See: https://github.com/samvera/active_fedora/pull/1290

[2017-11-09 15:39] #2108 closed

[2017-11-09 17:06] elrayle commented on #2004
I have a solution that allows the Viewer to see the admin set index and show pages.

I'm not convinced this is the problem you are trying to solve.  With the fix in place, the 'reviewer' is still not able to review the work.

To reproduce:
* create two users:  admin and user_B
* Login as admin
* Create admin set AS
* Add viewer to an admin set: Dashboard -> Administrative Sets -> click AS title ->

[2017-11-09 17:54] elrayle commented on #2004
I repeated the process and I CAN review.  So I'm guessing maybe I didn't do the steps in order the first time.  Maybe the work was created before the viewer was set.

[2017-11-09 21:47] jcoyne commented on #2126
I believe the correct fix is to add `with_themed_layout '1_column'`

[2017-11-10 13:34] elrayle commented on #2004
Testing a little further...
Scenario 1:
* assign user_A 'approving' role only for AdminSet_1
* another user creates a work in AdminSet_1
* user_A can NOT review the new work

Scenario 2:
* grant user_B 'Viewer' access to AdminSet_1
* assign user_B 'approving' role only for AdminSet_1
* another user creates a work in AdminSet_1
* user_B CAN review the new work

Why?  As a Viewer of AdminSet_1, user

[2017-11-10 16:11] jeremyf opened #2151 "Sipity::Workflow.activate! should be idempotent"
The current state of documentation says the following:

I believe the following is the expected behavior:

[code]

The reported behavior is:

[code]

[2017-11-10 16:27] jcoyne opened #2153 "Changing "Show" (per page) drop down sends user to different page."
When I'm on my dashboard collection show page (`/dashboard/collections/gt54kn002`):

And I change the value in the "Show" widget:

<img width="888" alt="screen shot 2017-11-10 at 10 23 25 am" src="https://user-images.githubusercontent.com/92044/32667808-67aa83d2-c601-11e7-8e44-63c7d840c905.png">

Then I am redirected to this page: `/collections/gt54kn002?utf8=✓&sort=system_create_dtsi+asc&per_page

[2017-11-10 16:32] jcoyne commented on #2153
We are rather divergent from how blacklight does things here. I wonder if adopting that approach (links) would be better. This would also get us translations which we don't currently have:
<img width="371" alt="screen shot 2017-11-10 at 10 31 46 am" src="https://user-images.githubusercontent.com/92044/32668163-71982ef2-c602-11e7-8281-218ef0678926.png">

[2017-11-10 17:58] bess commented on #2151
👍 I wrote this documentation and can confirm this is the behavior I see when setting up a Hyrax project

[2017-11-13 14:43] jcoyne commented on #2110
I think they should be stored encrypted in the database similar to how rails stores encrypted secrets in `secrets.yml`

[2017-11-13 14:56] julesies commented on #2004
@elrayle when you say "assign role" where are you doing that? We've been testing review of workflows by adding "manager" to the admin set. I was told that you don't need to assign workflow roles UNLESS you are adding a custom workflow.

[2017-11-13 15:04] jkim-ru opened #2162 "Should Admin Sets be shown from the show works view based on Flipflop.assign_admin_set?"
### Descriptive summary

Hyrax 1.0.4: We're wondering if Admin Sets should be shown from the show works view based on ``Flipflop.assign_admin_set?``.

### Rationale

In our Hyrax-based application, we'd like to hide references to Admin Sets until we decide to use it. When we turned off admin sets from the "Administration" > "Settings" section of the application, we still saw the default admin set

[2017-11-13 15:10] jcoyne commented on #2162
This sounds reasonable.  In the future, if you have a question like this, please ask on the tech call or Slack or the mailing list.  Let's keep github issues only for bugs/features.

[2017-11-13 15:13] elrayle commented on #1191
@jcoyne pointed to this github issue as relevant to this conversation...
* https://github.com/rails/rails/issues/22807

[2017-11-13 15:20] jkim-ru commented on #2162
My apologies.  I'll stick to slack or the GG forum.

[2017-11-13 15:45] laritakr opened #2163 "Collection public show page search bar location implies untrue behavior"
### Descriptive summary

On the collections sprint branch, the public collection show page has the search bar between the subcollection list and the works list. It should be located above both lists.

In addition, the header image was supposed to show collection type, but instead was changed to show "Collection". See the dashboard show page for more details.

### Rationale

The search behavior sea

[2017-11-13 15:45] laritakr commented on #2163
![screen shot 2017-11-13 at 10 37 43 am](https://user-images.githubusercontent.com/17851674/32734364-d2468d20-c85f-11e7-9cd4-e158701b72e4.png)

[2017-11-13 16:05] laritakr opened #2164 "Breadcrumbs on collections edit view is titled "Browse View""
### Descriptive summary
On Collections sprint branch: Change breadcrumb text where highlighted below.

![screen shot 2017-11-13 at 11 02 15 am](https://user-images.githubusercontent.com/17851674/32735310-6011e95e-c862-11e7-8d84-978b1590e3e1.png)

[2017-11-13 16:35] laritakr opened #2165 "Move or rename collection_member_service"
### Descriptive summary

Collections Sprint work is adding Hyrax::Collections::CollectionMemberService which returns the members of a collection. There is already a Hyrax::CollectionMemberService which returns the list of collections that an item is a member of. The service in Hyrax should be moved under Hyrax::Collections namespace, and renamed to something which more accurately reflects its purp

[2017-11-13 16:51] lfarrell opened #2168 "Table Color Contrast Accessibility"
### Descriptive summary

Accessibility contrast for stripped tables generate WAVE errors for darker striped rows.

### Rationale

This is an accessibility issue for low vision users.

### Expected behavior

Color contrast passes WAVE validation.

### Actual behavior

![table-contrast](https://user-images.githubusercontent.com/436691/32737664-ac62368c-c868-11e7-8c63-3d012466c4d9.png)

[2017-11-13 16:53] julesies commented on #2164
There are a few breadcrumbs issues, not sure if we have the whole picture of what is going on, but this was punted till after 2.0 https://github.com/samvera/hyrax/issues/1712

If it seems helpful for someone to look at the issue larger, LMK!

[2017-11-13 17:08] mjgiarlo commented on #1276
@darrenleeweber This is now done: https://github.com/samvera/hyrax/wiki/Translations-(internationalization)

[2017-11-13 17:08] #1276 closed

[2017-11-13 18:54] #2094 closed

[2017-11-13 19:43] #2153 closed

[2017-11-14 15:58] #2126 closed

[2017-11-14 16:01] mjgiarlo commented on #2151
As part of this work, pls also remove this TODO: https://github.com/samvera/hyrax/pull/2150/files#diff-2fdd2e6a4cf83fbbca6fdd8ba6b17fafR43

[2017-11-14 18:21] mjgiarlo commented on #1218
Decomposed into:
* https://github.com/samvera/hyrax/issues/2026
* https://github.com/samvera/hyrax/issues/2025
* https://github.com/samvera/hyrax/issues/2028
* https://github.com/samvera/hyrax/issues/2030
* https://github.com/samvera/hyrax/issues/2034

[2017-11-14 18:21] mjgiarlo commented on #1218
Thanks, @hannahfrost!

[2017-11-15 16:56] julesies opened #2195 "Repo Admins and Set Managers should be able override Admin Set Release and Vis Policies"
### Descriptive summary
In Hyrax 2.0, admin sets can have a release and vis policy which forces depositors to comply with the policy on the admin set. However, I think the Repo Admin and Manager roles should still be allowed to set any release and vis and not be limited by the policy. The way it's set up currently, a work would have to be moved to another admin set to "go off policy".

### Rationa

[2017-11-15 17:27] h-parekh commented on #1962
1. Text color in banner:
  - Cannot reproduce in Vanilla Hyrax, this is specific to Nurax.
  - `TODO`: change navbar to a darker shade in Nurax

2. breadcrumb link color (Home `<a>` tag)
  - This is meeting the contrast ratio for WCAG AA and AAA standards (See attached screenshot)
  - `TODO`: @mtribone  Is this a false alarm?

3. breadcrumb link color and text color
- `TODO`: Make the color of the

[2017-11-15 17:27] h-parekh commented on #1962
![dashboard_page_contrast_on_hyrax_vanilla](https://user-images.githubusercontent.com/21689371/32850492-517499a6-ca00-11e7-8aef-ae4a254e9f33.png)

[2017-11-15 18:11] mtribone commented on #1962
@h-parekh As for the breadcrumbs foreground color , it appears that the color is being overridden in the dashboard style sheet to `#0080ff` which fails because it is 3.48:1. It looks like the order of the stylesheets is affecting the outcome because that link color for home is a lighter blue than what is in the WAVE output.

My screen shot from Nurax:

![screen shot 2017-11-15 at 1 07 58 pm](https

[2017-11-15 18:15] mtribone commented on #1962
@h-parekh Aaahhh the link colors for the breadcrumbs and transfer are coming from inline styles.

![screen shot 2017-11-15 at 1 15 00 pm](https://user-images.githubusercontent.com/4163828/32852782-062b64d2-ca07-11e7-96c8-2c54a3686eb1.png)

[2017-11-15 18:16] mtribone commented on #1962
I like the idea of a stylesheet specifically for a11y issues!

[2017-11-15 18:23] h-parekh commented on #1962
So the color for #2 (breadcrumb link color (Home <a> tag)) and #6 (Transfer link text) are both coming from inline styles. Both Vanilla Hyrax and Nurax are showing the same behavior.

But on Vanilla Hyrax the breadcrumb link fails contrast ratio and the transfer link doesn't.

[2017-11-15 18:25] h-parekh commented on #1962
Link to the vanilla Hyrax instance i am looking at: https://a11y.demo.hydrainabox.org

[2017-11-15 18:50] mtribone commented on #1962
@h-parekh Hmmmm...looks like we have differing versions of the codebase. Nurax versus Hyrax versus Hyku.

[2017-11-15 19:16] jcoyne commented on #1962
Are the defaults a problem or is it how the user has chosen to customize the colors that is the problem?

<img width="1312" alt="screen shot 2017-11-15 at 1 15 45 pm" src="https://user-images.githubusercontent.com/92044/32855411-2b03d9a6-ca07-11e7-8188-06c5ecb4b579.png">

[2017-11-15 19:36] h-parekh commented on #1962
@mtribone: Aah, that's a rookie mistake. Hyku should map to a specific Hyrax release I think?

@mjgiarlo Can you confirm the Hyrax version for https://a11y.demo.hydrainabox.org/?locale=en The footer says 'Hyku v1.0.0.beta1' but I don't know which version of Hyrax its running on.

@jcoyne As far as I can tell from the analysis above, items 1,2 and 6 are due to customizations in Nurax and 3-5 are du

[2017-11-15 19:37] mjgiarlo commented on #1962
Hyku is running a new enough Hyrax, @h-parekh.

[2017-11-15 19:45] h-parekh commented on #1962
@mtribone Help me understand this, if we just look at the Hyku dashboard, 'Home' link in breadcrumb  and 'Select works to transfer' link are using the same inline styling. But only the 'Home' link reports a contrast error. Am i missing something?

<img width="1215" alt="screen shot 2017-11-15 at 2 41 16 pm" src="https://user-images.githubusercontent.com/21689371/32856622-4bc936de-ca13-11e7-825e-58

[2017-11-15 19:50] jcoyne commented on #1962
@h-parekh earlier you said:

but the article you posted references an early alpha release of bootstrap 4.  Have these issues been addressed since then?

[2017-11-15 19:52] jcoyne commented on #1962
@h-parekh

the home link is on a darker (panel header) background.

[2017-11-15 20:08] h-parekh commented on #1962
@jcoyne
Great catch! There is a very slight difference in the background colors. The Home link has a 7.5:1 contrast that's meeting AA and AAA standards so not sure why the WAVE tool still throws an error.

As for the bootstrap v4 accessibility fixes, I just checked the documentation for the [current release v4.0](https://getbootstrap.com/docs/4.0/getting-started/accessibility/#color-contrast) and

[2017-11-15 20:23] mtribone commented on #1962
@jcoyne @h-parekh The tricky thing is that the foreground/background contrast ratios are also affected by text size. So for example, a color combo at 14px for text may not pass but at 20px it might.

[2017-11-15 21:21] julesies commented on #2195
this also makes me wonder how these setting affect other processes like batch import...

[2017-11-16 14:34] jcoyne opened #2203 "Upgrade to ActiveFedora 12.0"

[2017-11-16 14:36] jcoyne commented on #2203
@no-reply did you encounter some difficulty when you tried this?  Do you know what the problem might be?

[2017-11-16 17:27] elrayle commented on #2164
I concur that there should be a review of all the breadcrumbs and an issue proposing a full app strategy.  We've fixed a few that are egregious, but not attempted to fix them all.  I'm putting this in the Backlog for Collection Sprints.

For reference, here is what Gary's mockups proposed for the breadcrumbs for the New form.  Presumably 'New' would switch to 'Edit' when editing.
![image](https://

[2017-11-16 18:07] laritakr commented on #2164
Actually, the breadcrumb that's there actually takes you to the public show page. So the label "Browse View" is somewhat accurate, though probably not what is desired there.

[2017-11-16 18:45] gordonleacock commented on #2164
I've been working on the breadcrumbs with Lynette. Slowly... :-)

On Thu, Nov 16, 2017 at 1:07 PM, LaRita Robinson <notifications@github.com>
wrote:

[2017-11-16 20:56] h-parekh commented on #1962
@mtribone Really tricky stuff! Took much longer to get a PR in that I thought.

https://github.com/samvera/hyrax/pull/2205

[2017-11-17 02:47] #1673 closed

[2017-11-17 14:39] jcoyne opened #2213 "Prevent removal of admin PermissionTemplateAccess"
#2077 accidentally reverted a feature from https://github.com/samvera/hyrax/commit/a27ed0615f6f9ec413a45ca77f144a6dcd04e69c  where you can't remove the admin access.  Although no link to delete is given in the HTML form, it is not validated on the server side, so a specially API request could remove admin access.

[2017-11-17 16:41] elrayle opened #2219 "Collections: Edit Work -> Relationships tab does NOT include collections with deposit access"
### Descriptive summary

A user should be able to add works to a collection for which they are a depositor.

### Rationale

By definition depositors can add works to the collection.

### Expected behavior

Edit Work -> Relationships Tab -> Add as member of collection -- list of collections should include collections where the current user is a depositor

### Actual behavior

Edit Work -> Relations

[2017-11-17 18:08] laritakr opened #2220 "Collections Sprint apparently broke "render_collection_links" method"
### Descriptive summary

In Collections Sprint, method "render_collection_links" doesn't seem to return anything, probably because of the parent/child nesting direction switch. I'm not sure exactly where all it is used or what it is intended to return.

It appears to be in the expand link on a collection list, to perhaps it is intended show some sort of relationship information there. I haven't do

[2017-11-17 18:17] laritakr opened #2221 "Hyrax::Collections::NestedCollectionQueryService logic not adequate"
### Descriptive summary

( Collections Sprint)

The list of available child collections and available parent collections should not include any collections currently in ANY relationship (either parent or child) with the collection being modified.

The nesting query service needs to take into account the full ancestral path. It should match the logic used in the [nesting indexer](https://github.com

[2017-11-20 02:26] elrayle commented on #2004
@julesies When the user was a Viewer, I assigned the approving role by...

* Dashboard -> Configurations -> Workflow Roles
* select User = user_B
* select Role = AdminSet_1 - approving (one_step_mediated_deposit)

[2017-11-20 02:28] elrayle commented on #2004
You don't have to assign roles if the "manager" is doing the approving.  But if a "viewer" is doing the approving, you do have to assign the "approving" role for custom workflows AND for one_step_mediated_deposit.

[2017-11-20 14:46] #2050 closed

[2017-11-20 17:58] h-parekh commented on #2168
@mtribone I think this should be fixed by https://github.com/samvera/hyrax/pull/2205

[2017-11-20 21:25] julesies commented on #2004
ah hmm. Is viewing intended to be a reviewer role? I am trying to think of a why you would not just make them a manager. Do you know?

[2017-11-21 02:16] elrayle opened #2230 "BUG Collections: breadcrumb on new collection form has code in the last crumb"
### Descriptive summary

There is a bug in the breadcrumb generation code for the new collection form.

### Expected behavior

The final crumb of the new collection form breadcrumbs should be New followed by the type of collection being create.  For example, if a User Collection is being created, the breadcrumbs should be...
[code]

### Actual behavior

![image](https://user-images.githubuserconte

[2017-11-21 03:09] #2213 closed

[2017-11-21 03:09] #2089 closed

[2017-11-21 14:21] jcoyne opened #2231 "Work panel doesn't line up with header/breadcrumbs"
<img width="604" alt="screen shot 2017-11-21 at 8 15 42 am" src="https://user-images.githubusercontent.com/92044/33077015-3456b258-ce94-11e7-884b-ddc4ffef0ef0.png">

I believe it's because the panel is within a `row` class without a wrapping `col-*-*` class.
<img width="540" alt="screen shot 2017-11-21 at 8 15 02 am" src="https://user-images.githubusercontent.com/92044/33077016-354cfac8-ce94-11e7-

[2017-11-21 16:17] #2028 closed

[2017-11-21 17:14] mjgiarlo commented on #1596
[code]

db migration must be run before generator.

[2017-11-21 17:18] mjgiarlo commented on #1596
Generator doesn't seem to make any changes when run after `db:migrate`, and it outputs lines that are either contradictory or at least that don't make sense to me:

[code]

[2017-11-21 18:47] #2026 closed

[2017-11-21 19:05] #2025 closed

[2017-11-21 19:57] #2231 closed

[2017-11-21 20:01] jcoyne commented on #1284
This is still an issue as of Nov 21, 2017.

[2017-11-21 20:08] jcoyne opened #2238 "Select work type modal does not need to be on every page"
Since the link to create a new work was removed from the nav bar in https://github.com/samvera/hyrax/commit/47632be4cdd9691ff51cb4d29b59d8eaee4b458f#diff-83b496719ae1e0e43b9c5564724570de  there's no need to include the modal on the masthead partial.

[2017-11-21 20:17] jcoyne commented on #1087
Fixed by #2228?

[2017-11-21 20:19] #1087 closed

[2017-11-21 20:40] jcoyne opened #2239 "Metadata goes over image"
<img width="798" alt="screen shot 2017-11-21 at 2 39 21 pm" src="https://user-images.githubusercontent.com/92044/33095617-dbd35e66-cec9-11e7-9da7-cd67a8a4618c.png">

[2017-11-21 21:20] #1849 closed

[2017-11-21 21:21] #1822 closed

[2017-11-21 21:21] #1807 closed

[2017-11-21 21:22] #441 closed

[2017-11-21 21:22] elrayle opened #2241 "BUG Collections: unable to read in old collections when gid is missing"
### Descriptive summary

Collections created in earlier versions do not have a gid and should default to the User Collection type's gid.

### Rationale

Allow older collections to be accessible without requiring migration to add gid.  It should lazy load the gid for older collections.

### Expected behavior

When collection has gid missing or blank in the solr doc, the collection should be assigne

[2017-11-21 21:29] jcoyne opened #2242 "Rename admin set form label"
Rename the label for the administrative set select menu from “Add as member of administrative set” to simply "Administrative Set"

![relationships-tab-changes](https://user-images.githubusercontent.com/1801076/32185304-032abdd0-bd5c-11e7-9196-3568318ae19d.png)

Ref #2034

[2017-11-21 21:34] jcoyne opened #2243 "Work form, relationship tab, Rename the heading for the collections"
On the work edit form.  Change "This Work in Collections" to "Collections"

Ref #2034

[2017-11-21 21:35] #2238 closed

[2017-11-21 21:36] jcoyne opened #2245 "Work form, relationships tab, collections section"
1. Update the Collection section to enable adding work to a collection via a select menu and button. Text label to the left of the select menu is “Add to collection”. Button is to the right of the select menu and has label “Add”.
1. Add a table below the Collection section showing what collections the work is currently part of (so the user doesn't try to add the work to a collection it is already

[2017-11-21 21:40] jcoyne opened #2247 "Work form, relationships tab, child works section"
1. Update the child work section to enable adding work to a work via a select menu and button. Text label to the left of the select menu is “Add to work”. Button is to the right of the select menu and has label “Add”.
1. Add a table below the child work section showing what works the work is currently part of (so the user doesn't try to add the work to a collection it is already part of). If this

[2017-11-21 21:44] jcoyne opened #2248 "Text change on Work form, relationships tab, add new child work"
Change "Attach new work" to "Deposit new work as child of this work"

![relationships-tab-changes](https://user-images.githubusercontent.com/1801076/32185304-032abdd0-bd5c-11e7-9196-3568318ae19d.png)

Ref #2034

[2017-11-21 21:45] jcoyne opened #2249 "Work form, relationships tab, confirmation modal"
Add confirmation modals when the user selects to remove a collection which this work is currently in or when they select to remove a child work from the work. Text for the two modals is provided in the mockup below.

![relationships-tab-changes](https://user-images.githubusercontent.com/1801076/32185304-032abdd0-bd5c-11e7-9196-3568318ae19d.png)

Ref #2034

[2017-11-21 21:47] jcoyne commented on #2034
Closing because this was broken out into subtickets.

[2017-11-21 21:47] #2034 closed

[2017-11-21 22:12] jcoyne commented on #2243
@hannahfrost can you confirm this was the requirement?  It wasn't clear to me in #2034.

[2017-11-21 22:13] #2030 closed

[2017-11-21 22:18] jcoyne commented on #2243
@hannahfrost confirmed this was correct on Slack.

[2017-11-21 22:52] jrochkind opened #2253 "too long solr requests, one fq per owned work, in qa, when adding child works"
This happened to me in sufia 7, but I believe the relevant code is probably still in hyrax master.

A staff user goes to to edit/relationships/other works in this work/search for a work,  to try and choose more child works — result is `RSolr::Error::Http - 414 Request-URI Too Long Error`. And indeed the URI is way way way too long, it seems to have an enormous `fq`

Stack trace:
https://app.honeyb

[2017-11-22 00:30] #2239 closed

[2017-11-22 00:37] #2242 closed

[2017-11-22 00:38] #2243 closed

[2017-11-22 14:23] elrayle commented on #1596
There is a fix for line 24 in the PR.

[2017-11-22 14:23] elrayle commented on #1596
And yes, db:migrate has to be run before running the collection type generator.

[2017-11-22 19:13] elrayle opened #2258 "'In Administrative Set' is always visible on Work page"
Branch: master
Reported by: J Kim in samvera-tech email

### Descriptive summary

If flipfop feature setting `Assign admin set` is off, then the admin set relationship should not be shown to public users.  Currently, it is always shown on the Work show page.

### Rationale

Sites that have all works automatically assigned to the default admin set do not want that relationship shown to users.

###

[2017-11-22 20:23] elrayle opened #2259 "valid_delete? for permission_template_access should allow delete for :view and :deposit access"
Branch: master

### Descriptive summary

Hyrax::Admin::PermissionTemplateAccessesController #valid_delete? method prevents users from deleting the required admin_group managers.  It also prevents removing admin_group for viewers and depositors, but it shouldn't.

### Rationale

Admins have viewer and depositor access as managers.  A user can still add the admin_group as a viewer and/or depositor.

[2017-11-22 20:46] mjgiarlo commented on #2259
@jcoyne inclined to have another go at this?

[2017-11-22 23:23] hannahfrost opened #2261 "Support for active links in static content text"
### Descriptive summary

Make it possible to format / encode active links in the text that can be entered via the admin dashboard UI, under Settings, for the static content pages (About, Help, Terms of Use, Deposit Agreement) and the content blocks.

### Rationale

An implementor is likely to have other web-based content outside the repository that is immediately relevant, useful and of interest t

[2017-11-22 23:48] hannahfrost opened #2262 "Rename Configuration Settings dashboard menu item from "Technical" to "Features""
### Descriptive summary

On the admin dashboard menu, under Configuration > Settings, the "Features" page where all the the feature flippers can be accessed, is labeled "Technical". It should be changed to "Features" in the menu.

### Rationale

"Technical" was the previous name for this part of the dashboard. The page header was changed to "Features" because that is a more descriptive, easily und

[2017-11-23 15:25] #2162 closed

[2017-11-23 15:26] jkim-ru commented on #2162
duplicate of https://github.com/samvera/hyrax/issues/2258

[2017-11-23 17:28] jmfrenzel commented on #1386
* added more missing translation items  https://github.com/samvera/hyrax/issues/1386#issuecomment-317822078

[2017-11-24 07:57] elrayle commented on #2241
Fixed by PR #2251

[2017-11-24 08:04] elrayle commented on #2241
Fixed by PR #2251

[2017-11-24 08:04] #2241 closed

[2017-11-27 15:31] vantuyls commented on #2009
closing as a duplicate of #2010 .

[2017-11-27 15:31] #2009 closed

[2017-11-27 15:35] vantuyls opened #2267 "show existing files when editing a work"
### Descriptive summary
currently, when editing a work, the Files tab does not show current attached files. this is counter to expected UI behaviour. Users expect to see the their files when editing an existing work. This could also make replacement (instead of versioning) of a file easier to accomplish in the ui.

### Expected behavior
On Edit, Files tab should show existing attached files on the

[2017-11-27 16:18] mjgiarlo commented on #2267
Duplicates #125

[2017-11-27 16:48] mjgiarlo commented on #1
@bess @dheles Do y'all want to stay assigned to this issue?

[2017-11-27 18:01] mjgiarlo commented on #1386
@vantuyls We may want to cast this issue as accessibility-related and include it in scope for the near-future a11y release.

[2017-11-27 22:59] hweng opened #2270 "Update Hyrax chinese locale"
### Descriptive summary

Please update the Hyrax chinese locale file to be up-to-date with the English version.

### Rationale

A Hyrax 2.0 release is coming soon, it would be a great for us to be able to help ensure the chinese locale file is accurate and up-to-date.

### Related work

https://github.com/ucsdlib/horton/issues/147

[2017-11-27 23:04] mjgiarlo commented on #2270
@hweng I did update all locales when I cut the 2.0.0 release, which is already out. Can you say more about what you're looking for?

[2017-11-27 23:13] hweng commented on #2270
@mjgiarlo Sorry I was not aware the new release is out. This ticket's description is copied from https://github.com/ucsdlib/horton/issues/147.
I reviewed and updated the Chinese locals to have it makes more sense. It was done last Wednesday. And I thought it's better to make a pull request after the holiday .

[2017-11-27 23:23] mjgiarlo commented on #2270
No problem, @hweng! Thanks.

If you have any changes to recommend to the Chinese translations (some of which are not from a native speaker), I'd be happy to merge a pull request. Should we keep this issue open for that, or close the issue?

[2017-11-27 23:38] hweng commented on #2270
@mjgiarlo I just tried to push a commit, got "fatal: unable to access 'https://github.com/samvera/hyrax.git/': The requested URL returned error: 403"

Then I updated .git/config to use ssh:  .git/config url = ssh://git@github.com:samvera/hyrax.git, but get the "ERROR: Repository not found. fatal: Could not read from remote repository."

Since It didn't happen to me last time when I made a pull req

[2017-11-28 01:09] elrayle opened #2271 "Collections: add new work from collection admin show page fails to start new work process"
### Descriptive summary

On admin show page, the Add new work button fails to start the new work process.

### Expected behavior

Click Add new work button on collection admin show page should show the Select work type modal followed by the new work form.

[app/views/hyrax/dashboard/collections/_show_add_items_actions.html.erb](https://github.com/samvera/hyrax/blob/collections-sprint/app/views/hyr

[2017-11-28 02:12] elrayle commented on #2271
Still works with PR #1781 on 10/11

[2017-11-28 14:38] elrayle commented on #2271
This is the likely commit causing the failure...  https://github.com/samvera/hyrax/pull/2240/files

Thanks to @jcoyne for locating this commit.

[2017-11-28 18:36] crowesn opened #2273 "TinyMCE editor is not loading menu based on config yml"
### Descriptive summary

Hyrax 1.0.5 - The tinymce editor loads what appears to be a default menu set, ignoring menu elements included in config yml

### Rationale

Menu items to include image attachment and linking functions are missing without config yml in force.

### Expected behavior

Tinymce editor should load with menu items from config yml

### Actual behavior

Tinymce editor loads with wh

[2017-11-28 19:51] hweng commented on #2270
The permission issue is resolved. I was not in the samvera developer community. @jeremyf just sent me an invitation.

[2017-11-28 20:39] no-reply commented on #1671
I'm planning to pick this back up in the next few weeks.

My plan would be to:
  - remove `redis-namespace` from my current project; documenting what I need to do to support segregated keyspaces
  - deprecate in the hyrax codebase for removal in 3.0.0, with links to documentation
  - add some handwavy note about scaling redis for multi-tenancy (if you need piles of keyspaces, you have various opti

[2017-11-28 21:31] #2270 closed

[2017-11-29 16:44] vantuyls opened #2279 "Add an "add to collection" button on work showpage"
### Descriptive summary
to facilitate adding content to collections, add an 'add to collection' button to the showpage

[2017-11-29 16:47] vantuyls opened #2280 "make read access works available to add to collections"
Adding works a user can read/see to a collection is an important use case.

# Current Behavior
User can only add works to a collection that they "own" (ie that show up in My Works)

# Expected Behavior
User should be able to add works to a collection that they can see/read

[2017-11-29 16:52] #2245 closed

[2017-11-29 16:52] #2247 closed

[2017-11-29 18:41] julesies commented on #2279
when logged in, right @vantuyls ? Maybe this is obvs, but just wanted to make explicit.

[2017-11-29 21:49] hannahfrost commented on #965
@vantuyls Can you confirm that this ticket is still independently needed and useful, and that the need hasn't been subsumed into some other ticket somewhere?

[2017-11-30 00:06] vantuyls commented on #2279
yes, when logged in.

[2017-11-30 00:22] vantuyls commented on #965
I don't see a related issue elsewhere. this is functionality we currently see in Collection Extensions work - @elrayle does the implementation of Managed Works come out of CE work or are you leveraging previous work for that?

[2017-11-30 05:03] sandbergja opened #2284 "When ClamAV says that there's a virus, hyrax uploads the file anyway"
### Background

Due to a permissions issue, hyrax was thinking that viruses existed in files that I uploaded.  Here's an extract from my sidekiq log:

    Nov 28 15:02:27 libarchive.linnbenton.edu COMARCH[2749]: [ActiveJob] [IngestJob] [24de4659-32da-4b10-bf2b-eadac2a3de2f] A virus was found in /var/www/hyrax/releases/20171121043228/tmp/uploads/hyrax/uploaded_file/file/521/Commuter_v29e9.pdf

###

[2017-11-30 16:38] #2248 closed

[2017-11-30 16:48] elrayle opened #2286 "BUG - Sort By shows solr field names"
Branch:  master

### Descriptive summary

On a collection show page that has > 1 works, the Sort By selector show solr field names instead of the human readable text.  Sort by in search results looks fine.

### Expected behavior

When a collection has > 1 works, the Sort By selector shows human readable options, i.e. date uploaded, date modified along with up and down arrows for sort direction.

#

[2017-11-30 18:39] mjgiarlo commented on #965
This work may be done as part of https://github.com/samvera/hyrax/issues/1705

If someone has cycles, this could be tested in nurax. Cc: @hannahfrost @aaron-collier @jcoyne

[2017-12-01 14:02] elrayle commented on #2271
Fixed by PR #2289

[2017-12-01 21:33] chrisdaaz opened #2293 "Maintain Visibility Setting When Transferring Ownership of a Work"
### Descriptive summary

When you transfer a work to another user, the work's visibility setting is changed to Private. Work ownership transfers should maintain the visibility settings of the work as they were before the transfer.

### Rationale

The unexpected change in visibility settings adds a task for a user when they accept ownership of a public, embargoed, or institution-only work. The new

[2017-12-01 22:44] laritakr opened #2294 "Refactor the nested collection modal queries to use the form"
### Descriptive summary

Collections sprint: The queries used in the modals to list the collections available for nesting should be routing through the nesting collection form.

- /app/views/hyrax/my/collections/_modal_add_subcollection.html.erb
- /app/views/hyrax/my/collections/_modal_add_to_collection.html.erb

The default_query_service is defined in nest_collection_form.rb. The form includes me

[2017-12-01 22:56] laritakr opened #2295 "Wire up nested collection delete buttons on collection's admin show page"
### Descriptive summary

Collections Sprint: Nested collections relationships can be added on the index page actions, show page buttons, or edit view relationships tab. The relationships tab contains buttons to remove the relationships, but the modals are not yet wired up.

- /app/views/hyrax/dashboard/collections/_modal_remove_from_collection.html.erb
- /app/views/hyrax/dashboard/collections/_mod

[2017-12-03 01:38] little9 opened #2296 "Single-valued attributes are stored as empty strings after form submission"
### Descriptive summary

When a work has single-valued attributes and the form is submitted, empty strings are stored.

### Rationale

Having these values change after form submission means that views and other code that exports them has to check for `nil` and an empty string. It would cleaner for the values to remain nil unless they aren't an empty string.

### Expected behavior

The value of the

[2017-12-04 17:07] #2249 closed

[2017-12-04 21:25] smithjp opened #2302 "Assign user permissions at a work level"
### Descriptive summary

When trying to assign reviewing permissions for a work to a specific user or group in hyrax 2.x as described in the documentation [(http://samvera.github.io/workflow_and_mediated_deposit.html#how-do-i-assign-reviewers-for-a-deposited-work-eg-etds-without-creating-lots-of-adminsets)](http://samvera.github.io/workflow_and_mediated_deposit.html#how-do-i-assign-reviewers-for-a

[2017-12-04 21:44] jcoyne commented on #2302
@jeremyf is there a bug in the documentation here?  I'm not sure anyone has ever enabled Hyrax to work with EntitySpecificResponsibilities.

[2017-12-04 21:46] jcoyne commented on #2296
See https://github.com/samvera/hyrax/pull/2297#issuecomment-349109786

[2017-12-04 22:43] jeremyf commented on #2302
The Sipity query should allow this to work -- we assign permission to the
depositor of the work.

Jeremy Friesen

On Dec 4, 2017 4:44 PM, "Justin Coyne" <notifications@github.com> wrote:

[2017-12-05 00:52] hannahfrost commented on #965
I tested this in nurax just now and confirmed that this change has been implemented. Closing the ticket. Thanks, all!

[2017-12-05 00:52] #965 closed

[2017-12-05 10:55] elrayle commented on #2004
I think some sites see reviewers as power users or users with more responsibility, in which case you would want them to be managers.  But this is not a requirement.  Sites can set any user as a reviewer.  Minimally, a user who will be a reviewer needs to be a Viewer with read access.

[2017-12-05 12:59] elrayle commented on #1719
@laritakr Has all remaining work been captured in new issues?  If so, is this ready to close?

[2017-12-05 16:10] mjgiarlo commented on #2004
(FWIW, our original designs for the Admin Set participants did include a distinct role for reviewers in addition to viewers, depositors, and managers.)

[2017-12-05 16:36] julesies commented on #2004
I think reviewers in dig coll workflows are more about reviewing lots of content accuracy (of say a student staff's work) and generally it's okay for them to have manager-type permissions (broadly to a whole collection), which is pretty diff than reviewing for an IR - which is more where a non-library staff has to review a small sub-set of works (and only those) in a given collection.

this is why

[2017-12-05 18:25] laritakr commented on #1719
@elrayle Yes, I believe that I covered all the remaining work in those three issues, so this issue can be closed.

[2017-12-06 11:49] geekscruff commented on #1034
@mjgiarlo @jcoyne ... did you get a solution to this one? I've just hit it.

[2017-12-06 14:09] smithjp commented on #2302
From what I am seeing in the ability and Hyrax::Workflow::StatusListService classes, it looks like the entity specific responsibilities are not enabled in hyrax right now.  Are there any plans to do so?

[2017-12-06 16:32] mjgiarlo commented on #1034
@geekscruff sadly, no.

[2017-12-06 16:32] mjgiarlo commented on #2302
@smithjp Not that I'm aware of, though perhaps the working group that @jeremyf and @laritakr have talked about spinning up re: roles/responsibilities may touch on this.

[2017-12-06 17:59] blancoj opened #2317 "managers, depositors and viewers are pushed to the side in the sharing tab for collections."
If you go to the collection edit view, and then to the sharing tab, the managers, depositors, and viewers list should appear just below the area where you select them.  It is currently being display on the far right.

[2017-12-07 17:53] bess opened #2323 "RightsStatementAttributeRenderer crashes when :rights_statement isn't valid"
### Descriptive summary

In Hyrax 2.0.0, I cannot display a work when `rights_statement == [""]`. It causes an uncaught exception.

### Expected behavior

I expect that if a work has an empty string in `rights_statement` it would either display an empty string or discard the value and not display anything.

### Actual behavior

The page will not render and the application reports an exception.

##

[2017-12-07 19:34] mjgiarlo opened #2326 "Draft 2.1.0 release notes"
# IIIF

Make clear in the release notes the requirement that Apache and Passenger require configuration to get RIIIF integration working. See https://github.com/curationexperts/riiif/blob/753ed1d73bc58d18124b247dc5a006fc60cb54a6/README.md#special-note-for-passenger-and-apache-users.

Also, write up the steps needed to use RIIIF when upgrading:

1. Copy [new config values](https://github.com/samver

[2017-12-07 21:49] no-reply opened #2330 "Reject `BaseActor#create` calls for existing items"
### `BaseActor#create` should not overwrite existing items

When entering the actor stack with `#create` we currently don't fail until we hit `InitializeWorkflowActor`. This causes the `dc:dateSubmitted` on the item to be updated, and results in an item save before failing with a database error on workflow initialization. Instead, we should reject the attempt to save, and pop out of the stack, in

[2017-12-08 10:59] geekscruff commented on #1034
@mjgiarlo I've submitted a [PR ](https://github.com/samvera-labs/hyku/pull/1511) to fix this for Hyku if you have a chance to review. This won't be an issue for Hyrax repos as the foreign keys get setup correctly when generating the repo. AFAIK the problem was only for Hyku so I think this issue can be closed.

[2017-12-08 16:55] geekscruff opened #2338 "Upgrade jquery-ui"
It's quite old, and a probable cause for [this Hyku issue](https://github.com/samvera-labs/hyku/issues/1512).

The same issue doesn't occur in Hyrax, but that may be because Hyku is using some more modern JQuery 3 stuff?

[2017-12-09 17:12] jcoyne commented on #1034
Fixed by #1511

[2017-12-09 17:12] #1034 closed

[2017-12-11 16:50] mjgiarlo opened #2345 "Use UniversalViewer on the work show page"
- [x] Pull in UniversalViewer and use when `Hyrax.config.iiif_image_server?` is `true` (extract from Hyku)
- [x] Layer in the [`rendering_ids` change](https://github.com/samvera-labs/hyku/pull/1376)
- [x] Layer in [adding metadata to the manifest](https://github.com/samvera-labs/hyku/pull/1436)
- [x] Additional Javascript changes (mentioned by @geekscruff)

[2017-12-11 17:40] #2338 closed

[2017-12-11 17:49] elrayle opened #2347 "Failing migrations for mysql starting at migration CreateUploadedFiles"
Branch:  master

### Descriptive summary

Migrations fail at CreateUploadedFiles when trying to create a new hyrax app using MySQL

### Rationale

Migrations should work for MySQL

### Expected behavior

All migrations should succeed.

### Actual behavior

CreateUploadedFiles migration fails for MySQL.  NOTE: It passes with engine_cart and sqlite.  It passes for postgres.

[code]

### Steps to rep

[2017-12-11 17:50] elrayle commented on #2347
There needs to be documentation on the recommended steps to create a hyrax app with an alternate database.  The README only describes creating a hyrax app with the default (sqlite) database.

[2017-12-11 18:23] elrayle commented on #2347
It was suggested that I not use the template for creating a new hyrax app that connects to MySQL.  I get the same error when I do not use the template.  Steps for creating without the template.

1. `rails new myapp -d mysql`
1. edit Gemfile and add `gem 'hyrax', '2.0.0'`
1. `bundle install`
1. update config/database.yml to work with your mysql
1. `rake db:drop`  (if needed to clear out previous cr

[2017-12-11 18:46] mjgiarlo commented on #2347
I could not reproduce this error.

[2017-12-11 19:57] mjgiarlo commented on #2347
I could reproduce this error when using Rails 5.1 (and MySQL, obviously).

[2017-12-11 19:59] mjgiarlo commented on #2347
The problem seems to be that the default column type for primary keys changed in Rails 5.1 from `:integer` to `:bigint`. There is a bug in Rails about this: https://github.com/rails/rails/issues/30806

It only seems to affect the MySQL adapter. SQLite and Postgres are not affected.

[2017-12-11 20:29] mjgiarlo commented on #2347
Here is a list of steps you can take to get around this error. I am not advocating for any of these as a solution in Hyrax, but rather listing what I know so we can share an understanding of the underlying situation:

* Add `type: :bigint` tohttps://github.com/samvera/hyrax/blob/master/db/migrate/20160401142419_create_uploaded_files.rb#L5 (and also https://github.com/samvera/hyrax/blob/master/db/m

[2017-12-12 13:50] elrayle opened #2350 "When only one work type error when rendering Add New Work button on collections show page"
### Descriptive summary

Cannot render collection show page when only one work type exists.  Trying to access @presenter.first_work_type and the method does not exist.

### Expected behavior

When only one work type, Dashboard -> Collections ->  click any title should display the collection's show page with a button to Add New Work.

### Actual behavior

[code]

### Solution

Need to copy [first_w

[2017-12-12 15:41] elrayle opened #2351 "Lazy migration of collections not migrating permissions"
### Descriptive summary

Lazy migration of collections is setting the gid to User Collections, but is not creating permission templates with proper access based on read/edit access in the collection.

### Rationale

Lazy migration should perform all steps to migrate a legacy user collection to collection-type based collections.

### Expected behavior

A collection that is migrated should...
* have

[2017-12-12 17:01] jenlindner opened #2354 "Hyrax 2.0 Batch Create: Property getting set as scalar but declared as multi-valued"
### Hyrax 2.0 Batch Create: Property getting set as scalar but declared as multi-valued

I've seen this error on two properties locally, alternative_title and admin_start_date. It seems to be coming from AF 11. Here's some of the stack trace.

[code]

[2017-12-12 21:56] mjgiarlo commented on #2347
Needs backporting so a 2.0.1 release can be made.

[2017-12-13 01:39] #2347 closed

[2017-12-13 16:32] revgum opened #2366 "Surface Hyrax.config (for javascript) on page render"
### Descriptive summary

`Hyrax.config` is compiled in the asset pipeline, this adds friction to changing/updating configurations (only for uploader right now). See: https://github.com/samvera/hyrax/blob/master/app/assets/javascripts/hyrax/config.js.erb

It would be nice to have the configuration rendered in a script block on page render so that these configurations can be changed in the hyrax ini

[2017-12-14 16:43] laritakr opened #2372 "ActiveFedora::Base.reindex_everything loses all nested indexing fields in solr"
### Descriptive summary

In Collections Sprint branch, nested indexer adds **"nesting_collection__ancestors_ssim"**,
**"nesting_collection__parent_ids_ssim"**, and **"nesting_collection__pathnames_ssim"**. Running
`ActiveFedora::Base.reindex_everything` from the rails console removed all three of those fields from solr.

### Rationale

The nested collection indexer is triggered as an after update_

[2017-12-14 16:58] elrayle commented on #2221
A slight adjustment to the available children:
* include collections that are not already anywhere in the parent path
* include collections that are not immediate children

This means that assuming existing paths A-B-D and A-C, it is ok to create A-D and A-C-D.
[code]
can become...
[code]

[2017-12-14 18:43] elrayle commented on #2221
* Ancestors: parse all collection ids in current collection's `nesting_collection__pathnames_ssim` removing dups and removing current collection's id

* All Descendants of qv33rw64w:  matches for solr query `nesting_collection__pathnames_ssim:*qv33rw64w/*`

* Immediate Descendents of qv33rw64w: matches for solr query `nesting_collection__parent_ids_ssim:9306sz28s`

[2017-12-14 21:19] jcoyne opened #2378 "permissions_service_spec.rb is slow"
This seems to test by exhaustively running every possible combination though.  On my laptop this single spec takes 2 min and 25 seconds to run.

Can we aim for path coverage a good enough?  A test suite that takes too long is an impediment to development.

[2017-12-15 21:32] jcoyne opened #2388 "Deprecation warning on the primary code path."
There doesn't seem to be any way to avoid this deprecation.

[code]

[2017-12-15 21:36] jcoyne opened #2389 "Collections branch over uses feature tests"
Feature tests are exceptionally slow, therefore they should be used judiciously.  In `spec/features/dashboard/collection_spec.rb` it's testing a number of edge cases that could be tested in the form test or view tests instead.

[2017-12-16 03:02] jcoyne opened #2392 "Collection feature intermittent failure"
Here is the minimal test case:
[code]

[2017-12-16 03:20] jcoyne commented on #2392
I currently believe this is a bug where `active_fedora/cleaner` is wiping out `/rest/test` and it does not notify `ActiveFedora::InitializingConnection` that it has done so (by resetting `@initialized` back to false)

[2017-12-18 17:48] bess opened #2396 "Administrative Sets button on dashboard raises exception"
### Descriptive summary

When the `Administrative Sets` button on the admin dashboard is pressed, it raises an uncaught exception:
`ActionView::Template::Error: undefined method `flatten' for nil:NilClass`. This resolves to an error in `app/views/hyrax/admin_sets/index.html.erb:30`
[code]

On Hyrax 2 head, the default admin set does not have a `creator`. See https://github.com/samvera/hyrax/blob/d

[2017-12-18 18:51] revgum opened #2400 "Tracking direct downloads (as well as clicked events) in GA"
### Descriptive summary
Hyrax tracks "downloads" by way of the user clicking the download link on the page.. this doesn't capture incoming traffic directly to the downloads controller. In ScholarsArchive, we have disabled the click event on the page and replaced tracking of the event with a behavior on the downloads controller to send a Google Analytics event from the server side.

### Rationale
T

[2017-12-18 20:23] adamjarling commented on #1417
@elrayle Should this branch be left open?

[2017-12-18 22:36] little9 opened #2405 "Changing the AdminSet predicate breaks AdminSetService"
### Descriptive summary

A new option was added to Hyrax 2.0.0 that lets you change the admin set membership predicate. By default this is `isPartOf`. If you change the predicate the AdminSetService performs bad solr queries because the isPartOf predicate is hardcoded in the service: https://github.com/samvera/hyrax/blob/150e5bc99a48915160e4a1e909d262bd05acfb55/app/services/hyrax/admin_set_service

[2017-12-18 23:07] bess commented on #2405
@mjgiarlo suggests perhaps we need to use `Solrizer.solr_name(Hyrax.config.admin_set_predicate.qname.last, :symbol)`

@no-reply notes that this is also an issue elsewhere in the code base

[2017-12-19 18:05] laritakr commented on #2372
The issue here is that ActiveFedora uses to_solr for its reindexing. For nested collections, to_solr does not include the additional nested collections indexed fields. Those are added in Hyrax as an after_update_index callback which reindexes the collection again.

Methods `each_preservation_document` and `each_perservation_document_id_and_parent_ids` are not implemented in Hyrax::Adapters::Nestin

[2017-12-19 19:59] aaron-collier opened #2409 "Could not find table 'minter_states' error when creating an AdminSet"
### Descriptive summary

Against the latest version of `master`, I'm getting a database error:

[code]
When trying to create the first/default admin set.

### Steps to reproduce the behavior

1. On a fresh install, create an admin user
2. Login as admin user
3. Click `Administrative Sets`
4. Click `Create new administrative set`
5. Enter a name (i.e. 'Default') and click `Save`

### Related work

[2017-12-19 20:00] elrayle commented on #2271
Fixed by 2289

[2017-12-19 20:00] #2271 closed

[2017-12-19 21:20] jcoyne commented on #2409
I assume you're talking about hydrox?  You have that migration generated here: https://github.com/sul-dlss/hydrox/blob/master/db/migrate/20171010171625_create_minter_states.active_fedora_noid_engine.rb

Have you run `bin/rails db:migrate` in your environment?

[2017-12-19 21:23] aaron-collier commented on #2409
@jcoyne no, this is just plain hyrax, on a fresh pull from master and `rake engine_cart:generate`

[2017-12-19 21:42] mjgiarlo commented on #2409
@jcoyne related to AF::Noid rename?

[2017-12-19 22:08] jcoyne commented on #2409
@aaron-collier what do you have in `.internal_test_app/db/migrate/*`?

[2017-12-19 22:10] aaron-collier commented on #2409
@jcoyne nothing related to noid that I can see:

[code]

[2017-12-19 23:39] #2409 closed

[2017-12-20 20:29] elrayle commented on #2133
This has been fixed.  Not sure which PR fixed it.

[2017-12-20 20:29] #2133 closed

[2017-12-20 20:31] elrayle commented on #1968
This was fixed by PR #2137

[2017-12-20 20:31] #1968 closed

[2017-12-20 20:41] vantuyls commented on #1350
tested this locally and i'm seeing that one must reload the page for the thumbnail to change.

@kerchner can you test this again?

[2017-12-20 20:44] vantuyls commented on #1152
@mjgiarlo so, a few things are going on with versioning that are related to this issue. we may want to move this into a new issue (?):
1) When uploading a new version, the characterization information for the new version appears to be adding to the old characterization information (see below).
2) Date Modified metadata does not change, and i believe it should reflect the date the new version was s